// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../index";

export declare namespace TriageTicketsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TriageTicketsClient {
    protected readonly _options: NormalizedClientOptions<TriageTicketsClient.Options>;

    constructor(options: TriageTicketsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List an agent's conversation triage tickets, ordered by most recently created first. These are tickets about the agent's own performance on a conversation (for triage with Architect), not tickets an agent opens for end users.
     *
     * @param {string} agent_id
     * @param {ElevenLabs.conversationalAi.TriageTicketsListRequest} request
     * @param {TriageTicketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.triageTickets.list("agent_id", {
     *         pageSize: 1,
     *         conversationId: "conversation_id",
     *         status: "open",
     *         sources: ["qa"],
     *         ownerUserId: "owner_user_id",
     *         assigneeUserId: "assignee_user_id",
     *         issueType: "knowledge_gap",
     *         label: "label",
     *         cursor: "cursor"
     *     })
     */
    public list(
        agent_id: string,
        request: ElevenLabs.conversationalAi.TriageTicketsListRequest = {},
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetAgentConversationTicketsPageResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__list(agent_id, request, requestOptions));
    }

    private async __list(
        agent_id: string,
        request: ElevenLabs.conversationalAi.TriageTicketsListRequest = {},
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetAgentConversationTicketsPageResponseModel>> {
        const { pageSize, conversationId, status, sources, ownerUserId, assigneeUserId, issueType, label, cursor } =
            request;
        const _queryParams: Record<string, unknown> = {
            page_size: pageSize,
            conversation_id: conversationId,
            status:
                status != null
                    ? serializers.AgentConversationTicketStatus.jsonOrThrow(status, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            sources: Array.isArray(sources)
                ? sources.map((item) =>
                      serializers.AgentConversationTicketSource.jsonOrThrow(item, { unrecognizedObjectKeys: "strip" }),
                  )
                : sources != null
                  ? serializers.AgentConversationTicketSource.jsonOrThrow(sources, { unrecognizedObjectKeys: "strip" })
                  : undefined,
            owner_user_id: ownerUserId,
            assignee_user_id: assigneeUserId,
            issue_type:
                issueType != null
                    ? serializers.AgentConversationTicketIssueType.jsonOrThrow(issueType, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            label,
            cursor,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/triage-tickets`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetAgentConversationTicketsPageResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/agents/{agent_id}/triage-tickets",
        );
    }

    /**
     * Manually raise a follow-up ticket against an agent, not tied to any conversation (for example a task like 'add the KB about X'). The comment is shown as the ticket title. Requires viewer access to the agent.
     *
     * @param {string} agent_id
     * @param {ElevenLabs.conversationalAi.CreateManualTicketRequestModel} request
     * @param {TriageTicketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.triageTickets.createManual("agent_id", {
     *         qaComment: "qa_comment"
     *     })
     */
    public createManual(
        agent_id: string,
        request: ElevenLabs.conversationalAi.CreateManualTicketRequestModel,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AgentConversationTicketResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__createManual(agent_id, request, requestOptions));
    }

    private async __createManual(
        agent_id: string,
        request: ElevenLabs.conversationalAi.CreateManualTicketRequestModel,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AgentConversationTicketResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/triage-tickets`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.conversationalAi.CreateManualTicketRequestModel.jsonOrThrow(request, {
                    unrecognizedObjectKeys: "strip",
                }),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentConversationTicketResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/convai/agents/{agent_id}/triage-tickets",
        );
    }

    /**
     * All non-service-account workspace members, each flagged with whether they currently have at least viewer access to the agent. Members without access are included (not filtered out) so the UI can offer them as an assignee and prompt to grant access first.
     *
     * @param {string} agent_id
     * @param {TriageTicketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.triageTickets.listAssignableUsers("agent_id")
     */
    public listAssignableUsers(
        agent_id: string,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AssignableUserResponseModel[]> {
        return core.HttpResponsePromise.fromPromise(this.__listAssignableUsers(agent_id, requestOptions));
    }

    private async __listAssignableUsers(
        agent_id: string,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AssignableUserResponseModel[]>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/triage-tickets/assignable-users`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.conversationalAi.triageTickets.listAssignableUsers.Response.parseOrThrow(
                    _response.body,
                    {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    },
                ),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/agents/{agent_id}/triage-tickets/assignable-users",
        );
    }

    /**
     * Get an agent conversation ticket by ID.
     *
     * @param {string} agentqa_ticket_id
     * @param {TriageTicketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.triageTickets.get("agentqa_ticket_id")
     */
    public get(
        agentqa_ticket_id: string,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AgentConversationTicketResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__get(agentqa_ticket_id, requestOptions));
    }

    private async __get(
        agentqa_ticket_id: string,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AgentConversationTicketResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/triage-tickets/${core.url.encodePathParam(agentqa_ticket_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentConversationTicketResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/triage-tickets/{agentqa_ticket_id}",
        );
    }

    /**
     * Delete an agent conversation ticket. Restricted to the ticket creator or a workspace admin.
     *
     * @param {string} agentqa_ticket_id
     * @param {TriageTicketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.triageTickets.delete("agentqa_ticket_id")
     */
    public delete(
        agentqa_ticket_id: string,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(agentqa_ticket_id, requestOptions));
    }

    private async __delete(
        agentqa_ticket_id: string,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/triage-tickets/${core.url.encodePathParam(agentqa_ticket_id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/convai/triage-tickets/{agentqa_ticket_id}",
        );
    }

    /**
     * Update a ticket's comment, status, and/or assignee. Requires editor access to the ticket's agent.
     *
     * @param {string} agentqa_ticket_id
     * @param {ElevenLabs.conversationalAi.PatchAgentConversationTicketRequestModel} request
     * @param {TriageTicketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.triageTickets.update("agentqa_ticket_id")
     */
    public update(
        agentqa_ticket_id: string,
        request: ElevenLabs.conversationalAi.PatchAgentConversationTicketRequestModel = {},
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AgentConversationTicketResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__update(agentqa_ticket_id, request, requestOptions));
    }

    private async __update(
        agentqa_ticket_id: string,
        request: ElevenLabs.conversationalAi.PatchAgentConversationTicketRequestModel = {},
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AgentConversationTicketResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/triage-tickets/${core.url.encodePathParam(agentqa_ticket_id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.conversationalAi.PatchAgentConversationTicketRequestModel.jsonOrThrow(request, {
                    unrecognizedObjectKeys: "strip",
                }),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentConversationTicketResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/convai/triage-tickets/{agentqa_ticket_id}",
        );
    }

    /**
     * Raise a ticket about an agent's performance on a conversation, for triage with Architect. Provide an overall comment and/or turn-level comments describing what went wrong.
     *
     * @param {ElevenLabs.conversationalAi.CreateAgentConversationTicketRequestModel} request
     * @param {TriageTicketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.triageTickets.create({
     *         conversationId: "conversation_id"
     *     })
     */
    public create(
        request: ElevenLabs.conversationalAi.CreateAgentConversationTicketRequestModel,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AgentConversationTicketResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: ElevenLabs.conversationalAi.CreateAgentConversationTicketRequestModel,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AgentConversationTicketResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/triage-tickets",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.conversationalAi.CreateAgentConversationTicketRequestModel.jsonOrThrow(request, {
                    unrecognizedObjectKeys: "strip",
                }),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentConversationTicketResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/convai/triage-tickets");
    }

    /**
     * Append a comment discussing how to resolve the ticket. Requires viewer access to the ticket's agent.
     *
     * @param {string} agentqa_ticket_id
     * @param {ElevenLabs.conversationalAi.AddTicketCommentRequestModel} request
     * @param {TriageTicketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.triageTickets.addComment("agentqa_ticket_id", {
     *         comment: "comment"
     *     })
     */
    public addComment(
        agentqa_ticket_id: string,
        request: ElevenLabs.conversationalAi.AddTicketCommentRequestModel,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AgentConversationTicketResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__addComment(agentqa_ticket_id, request, requestOptions));
    }

    private async __addComment(
        agentqa_ticket_id: string,
        request: ElevenLabs.conversationalAi.AddTicketCommentRequestModel,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AgentConversationTicketResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/triage-tickets/${core.url.encodePathParam(agentqa_ticket_id)}/comments`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.conversationalAi.AddTicketCommentRequestModel.jsonOrThrow(request, {
                    unrecognizedObjectKeys: "strip",
                }),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentConversationTicketResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/convai/triage-tickets/{agentqa_ticket_id}/comments",
        );
    }

    /**
     * Append a turn-level comment to a ticket. Requires viewer access to the ticket's agent.
     *
     * @param {string} agentqa_ticket_id
     * @param {ElevenLabs.conversationalAi.AddTurnCommentRequestModel} request
     * @param {TriageTicketsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.triageTickets.addTurnComment("agentqa_ticket_id", {
     *         turnIndex: 1,
     *         comment: "comment"
     *     })
     */
    public addTurnComment(
        agentqa_ticket_id: string,
        request: ElevenLabs.conversationalAi.AddTurnCommentRequestModel,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AgentConversationTicketResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__addTurnComment(agentqa_ticket_id, request, requestOptions));
    }

    private async __addTurnComment(
        agentqa_ticket_id: string,
        request: ElevenLabs.conversationalAi.AddTurnCommentRequestModel,
        requestOptions?: TriageTicketsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AgentConversationTicketResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/triage-tickets/${core.url.encodePathParam(agentqa_ticket_id)}/turn-comments`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.conversationalAi.AddTurnCommentRequestModel.jsonOrThrow(request, {
                    unrecognizedObjectKeys: "strip",
                }),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentConversationTicketResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/convai/triage-tickets/{agentqa_ticket_id}/turn-comments",
        );
    }
}
