// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../index";

export declare namespace TranscriptsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TranscriptsClient {
    protected readonly _options: NormalizedClientOptions<TranscriptsClient.Options>;

    constructor(options: TranscriptsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Fetch the transcript for one of the languages in a dub.
     *
     * @param {string} dubbing_id - ID of the dubbing project.
     * @param {string} language_code - ISO-693 language code to retrieve the transcript for. Use 'source' to fetch the transcript of the original media.
     * @param {ElevenLabs.dubbing.TranscriptsGetRequestFormatType} format_type - Format to return transcript in. For subtitles use either 'srt' or 'webvtt', and for a full transcript use 'json'. The 'json' format is not yet supported for Dubbing Studio.
     * @param {TranscriptsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.dubbing.transcripts.get("dubbing_id", "source", "srt")
     */
    public get(
        dubbing_id: string,
        language_code: string,
        format_type: ElevenLabs.dubbing.TranscriptsGetRequestFormatType,
        requestOptions?: TranscriptsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.DubbingTranscriptsResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__get(dubbing_id, language_code, format_type, requestOptions));
    }

    private async __get(
        dubbing_id: string,
        language_code: string,
        format_type: ElevenLabs.dubbing.TranscriptsGetRequestFormatType,
        requestOptions?: TranscriptsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.DubbingTranscriptsResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/dubbing/${core.url.encodePathParam(dubbing_id)}/transcripts/${core.url.encodePathParam(language_code)}/format/${core.url.encodePathParam(serializers.dubbing.TranscriptsGetRequestFormatType.jsonOrThrow(format_type))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DubbingTranscriptsResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/dubbing/{dubbing_id}/transcripts/{language_code}/format/{format_type}",
        );
    }
}
