// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import * as serializers from "../../../../../../../../../../serialization/index.js";
import * as ElevenLabs from "../../../../../../../../../index.js";

export declare namespace ChunkClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ChunkClient {
    protected readonly _options: NormalizedClientOptions<ChunkClient.Options>;

    constructor(options: ChunkClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Get details about a specific documentation part used by RAG.
     *
     * @param {string} documentation_id - The id of a document from the knowledge base. This is returned on document addition.
     * @param {string} chunk_id - The id of a document RAG chunk from the knowledge base.
     * @param {ElevenLabs.agents.knowledgeBase.documents.GetChunkRequest} request
     * @param {ChunkClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.knowledgeBase.documents.chunk.get("21m00Tcm4TlvDq8ikWAM", "chunk_id", {
     *         embeddingModel: "e5_mistral_7b_instruct"
     *     })
     */
    public get(
        documentation_id: string,
        chunk_id: string,
        request: ElevenLabs.agents.knowledgeBase.documents.GetChunkRequest = {},
        requestOptions?: ChunkClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.KnowledgeBaseDocumentChunkResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__get(documentation_id, chunk_id, request, requestOptions));
    }

    private async __get(
        documentation_id: string,
        chunk_id: string,
        request: ElevenLabs.agents.knowledgeBase.documents.GetChunkRequest = {},
        requestOptions?: ChunkClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.KnowledgeBaseDocumentChunkResponseModel>> {
        const { embeddingModel } = request;
        const _queryParams: Record<string, unknown> = {
            embedding_model:
                embeddingModel != null
                    ? serializers.EmbeddingModelEnum.jsonOrThrow(embeddingModel, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/knowledge-base/${core.url.encodePathParam(documentation_id)}/chunk/${core.url.encodePathParam(chunk_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.KnowledgeBaseDocumentChunkResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/knowledge-base/{documentation_id}/chunk/{chunk_id}",
        );
    }
}
