// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../BaseClient";
import * as core from "../../../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers";
import * as environments from "../../../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../../../errors/index";
import * as serializers from "../../../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../../../index";

export declare namespace SummariesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SummariesClient {
    protected readonly _options: NormalizedClientOptions<SummariesClient.Options>;

    constructor(options: SummariesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns summaries for the specified agents.
     *
     * @param {ElevenLabs.conversationalAi.agents.SummariesGetRequest} request
     * @param {SummariesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.agents.summaries.get()
     */
    public get(
        request: ElevenLabs.conversationalAi.agents.SummariesGetRequest = {},
        requestOptions?: SummariesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, ElevenLabs.conversationalAi.agents.SummariesGetResponseValue>> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: ElevenLabs.conversationalAi.agents.SummariesGetRequest = {},
        requestOptions?: SummariesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, ElevenLabs.conversationalAi.agents.SummariesGetResponseValue>>> {
        const { agentIds } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (agentIds != null) {
            if (Array.isArray(agentIds)) {
                _queryParams.agent_ids = agentIds.map((item) => item);
            } else {
                _queryParams.agent_ids = agentIds;
            }
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/agents/summaries",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.conversationalAi.agents.summaries.get.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/convai/agents/summaries");
    }
}
