// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../BaseClient";
import * as core from "../../../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers";
import * as environments from "../../../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../../../errors/index";
import * as serializers from "../../../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../../../index";

export declare namespace LinkClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LinkClient {
    protected readonly _options: NormalizedClientOptions<LinkClient.Options>;

    constructor(options: LinkClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Get the current link used to share the agent with others
     *
     * @param {string} agent_id - The id of an agent. This is returned on agent creation.
     * @param {LinkClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.agents.link.get("agent_3701k3ttaq12ewp8b7qv5rfyszkz")
     */
    public get(
        agent_id: string,
        requestOptions?: LinkClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetAgentLinkResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__get(agent_id, requestOptions));
    }

    private async __get(
        agent_id: string,
        requestOptions?: LinkClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetAgentLinkResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/link`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetAgentLinkResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/agents/{agent_id}/link",
        );
    }
}
