// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../BaseClient";
import * as core from "../../../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody";
import * as environments from "../../../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../../../errors/index";
import * as serializers from "../../../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../../../index";

export declare namespace RunsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RunsClient {
    protected readonly _options: NormalizedClientOptions<RunsClient.Options>;

    constructor(options: RunsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List this template's runs created through this API, newest first.
     *
     * @param {string} template_id - The ID of the template, as shown in the ElevenLabs app or by `GET /v1/flows/templates`.
     * @param {ElevenLabs.flows.templates.RunsListRequest} request
     * @param {RunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.flows.templates.runs.list("template_id", {
     *         cursor: "cursor",
     *         pageSize: 1,
     *         versionId: "version_id"
     *     })
     */
    public list(
        template_id: string,
        request: ElevenLabs.flows.templates.RunsListRequest = {},
        requestOptions?: RunsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.TemplateRunListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(template_id, request, requestOptions));
    }

    private async __list(
        template_id: string,
        request: ElevenLabs.flows.templates.RunsListRequest = {},
        requestOptions?: RunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.TemplateRunListResponse>> {
        const { cursor, pageSize, versionId } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            page_size: pageSize,
            version_id: versionId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/flows/templates/${core.url.encodePathParam(template_id)}/runs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.TemplateRunListResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/flows/templates/{template_id}/runs",
        );
    }

    /**
     * Start a run of a flows template. Pass `version_id` to pin a snapshot, or omit it / pass `latest` to run the latest published version. Set input values under `inputs`, keyed by input port id. The response is the run in its initial state, with every output already listed under its port id in `outputs`. Include `webhook` to receive a `flows_template_run` event carrying the finished run once its `status` is `completed` or `failed`; this is the recommended way to wait. Without one, fetch `GET /v1/flows/templates/{template_id}/runs/{run_id}` at a modest interval until the `status` is terminal.
     *
     * @param {string} template_id - The ID of the template, as shown in the ElevenLabs app or by `GET /v1/flows/templates`.
     * @param {ElevenLabs.flows.templates.TemplateRunCreateRequest} request
     * @param {RunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.flows.templates.runs.create("template_id", {
     *         inputs: {
     *             "prompt": "a corgi on a surfboard",
     *             "reference": {
     *                 type: "asset",
     *                 assetId: "5xM2KqOnZyce22SPZ9d4"
     *             }
     *         },
     *         versionId: "latest",
     *         webhook: {
     *             type: "all"
     *         }
     *     })
     */
    public create(
        template_id: string,
        request: ElevenLabs.flows.templates.TemplateRunCreateRequest,
        requestOptions?: RunsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.TemplateRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(template_id, request, requestOptions));
    }

    private async __create(
        template_id: string,
        request: ElevenLabs.flows.templates.TemplateRunCreateRequest,
        requestOptions?: RunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.TemplateRunResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/flows/templates/${core.url.encodePathParam(template_id)}/runs`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.flows.templates.TemplateRunCreateRequest.jsonOrThrow(request, {
                    unrecognizedObjectKeys: "strip",
                }),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.TemplateRunResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/flows/templates/{template_id}/runs",
        );
    }

    /**
     * Retrieve a template run: its `status`, rolled up from its outputs, and each output's own status and download URL once completed.
     *
     * @param {string} template_id - The ID of the template, as shown in the ElevenLabs app or by `GET /v1/flows/templates`.
     * @param {string} run_id
     * @param {RunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.flows.templates.runs.get("template_id", "run_id")
     */
    public get(
        template_id: string,
        run_id: string,
        requestOptions?: RunsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.TemplateRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(template_id, run_id, requestOptions));
    }

    private async __get(
        template_id: string,
        run_id: string,
        requestOptions?: RunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.TemplateRunResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/flows/templates/${core.url.encodePathParam(template_id)}/runs/${core.url.encodePathParam(run_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.TemplateRunResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/flows/templates/{template_id}/runs/{run_id}",
        );
    }
}
