// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../BaseClient";
import * as core from "../../../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers";
import * as environments from "../../../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../../../errors/index";
import * as serializers from "../../../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../../../index";

export declare namespace MediaClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MediaClient {
    protected readonly _options: NormalizedClientOptions<MediaClient.Options>;

    constructor(options: MediaClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Registers a media file with an order, either by uploading it directly or by providing a URL to fetch it from. Exactly one of `media` or `media_url` must be provided. The registered media can then be referenced when adding order items.
     *
     * @param {ElevenLabs.OrderId} order_id
     * @param {ElevenLabs.productions.orders.BodyRegisterMediaV1ProductionsOrdersOrderIdMediaPost} request
     * @param {MediaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.productions.orders.media.register("order_id", {
     *         declaredLanguage: "declared_language"
     *     })
     */
    public register(
        order_id: ElevenLabs.OrderId,
        request: ElevenLabs.productions.orders.BodyRegisterMediaV1ProductionsOrdersOrderIdMediaPost,
        requestOptions?: MediaClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.RegisterMediaResponse> {
        return core.HttpResponsePromise.fromPromise(this.__register(order_id, request, requestOptions));
    }

    private async __register(
        order_id: ElevenLabs.OrderId,
        request: ElevenLabs.productions.orders.BodyRegisterMediaV1ProductionsOrdersOrderIdMediaPost,
        requestOptions?: MediaClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.RegisterMediaResponse>> {
        const _request = await core.newFormData();
        _request.append("declared_language", request.declaredLanguage);
        if (request.media != null) {
            await _request.appendFile("media", request.media);
        }

        if (request.mediaUrl != null) {
            _request.append("media_url", request.mediaUrl);
        }

        if (request.mediaUrlFilename != null) {
            _request.append("media_url_filename", request.mediaUrlFilename);
        }

        if (request.mediaUrlContentType != null) {
            _request.append("media_url_content_type", request.mediaUrlContentType);
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey,
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/productions/orders/${core.url.encodePathParam(serializers.OrderId.jsonOrThrow(order_id))}/media`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.RegisterMediaResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/productions/orders/{order_id}/media",
        );
    }

    /**
     * Retrieves metadata and a time-limited download URL for a previously uploaded media file.
     *
     * @param {ElevenLabs.OrderId} order_id - The ID of the order.
     * @param {ElevenLabs.MediaId} media_id - The ID of the media file.
     * @param {MediaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.productions.orders.media.get("order_id", "media_id")
     */
    public get(
        order_id: ElevenLabs.OrderId,
        media_id: ElevenLabs.MediaId,
        requestOptions?: MediaClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.OrderMediaResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(order_id, media_id, requestOptions));
    }

    private async __get(
        order_id: ElevenLabs.OrderId,
        media_id: ElevenLabs.MediaId,
        requestOptions?: MediaClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.OrderMediaResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/productions/orders/${core.url.encodePathParam(serializers.OrderId.jsonOrThrow(order_id))}/media/${core.url.encodePathParam(serializers.MediaId.jsonOrThrow(media_id))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.OrderMediaResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/productions/orders/{order_id}/media/{media_id}",
        );
    }
}
