// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as ElevenLabs from "../../../../../index.js";
import { AnalysisClient } from "../resources/analysis/client/Client.js";
import { AudioClient } from "../resources/audio/client/Client.js";
import { FeedbackClient } from "../resources/feedback/client/Client.js";
import { FilesClient } from "../resources/files/client/Client.js";
import { MessagesClient } from "../resources/messages/client/Client.js";
import { TagsClient } from "../resources/tags/client/Client.js";
import { TopicsClient } from "../resources/topics/client/Client.js";

export declare namespace ConversationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConversationsClient {
    protected readonly _options: NormalizedClientOptions<ConversationsClient.Options>;
    protected _audio: AudioClient | undefined;
    protected _feedback: FeedbackClient | undefined;
    protected _messages: MessagesClient | undefined;
    protected _tags: TagsClient | undefined;
    protected _files: FilesClient | undefined;
    protected _topics: TopicsClient | undefined;
    protected _analysis: AnalysisClient | undefined;

    constructor(options: ConversationsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public get audio(): AudioClient {
        return (this._audio ??= new AudioClient(this._options));
    }

    public get feedback(): FeedbackClient {
        return (this._feedback ??= new FeedbackClient(this._options));
    }

    public get messages(): MessagesClient {
        return (this._messages ??= new MessagesClient(this._options));
    }

    public get tags(): TagsClient {
        return (this._tags ??= new TagsClient(this._options));
    }

    public get files(): FilesClient {
        return (this._files ??= new FilesClient(this._options));
    }

    public get topics(): TopicsClient {
        return (this._topics ??= new TopicsClient(this._options));
    }

    public get analysis(): AnalysisClient {
        return (this._analysis ??= new AnalysisClient(this._options));
    }

    /**
     * Get a signed url to start a conversation with an agent with an agent that requires authorization
     *
     * @param {ElevenLabs.agents.GetSignedUrlConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.conversations.getSignedUrl({
     *         agentId: "agent_3701k3ttaq12ewp8b7qv5rfyszkz",
     *         includeConversationId: true,
     *         branchId: "branch_id",
     *         environment: "environment",
     *         debugEventsRequest: true
     *     })
     */
    public getSignedUrl(
        request: ElevenLabs.agents.GetSignedUrlConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.ConversationSignedUrlResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__getSignedUrl(request, requestOptions));
    }

    private async __getSignedUrl(
        request: ElevenLabs.agents.GetSignedUrlConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.ConversationSignedUrlResponseModel>> {
        const { agentId, includeConversationId, branchId, environment, debugEventsRequest } = request;
        const _queryParams: Record<string, unknown> = {
            agent_id: agentId,
            include_conversation_id: includeConversationId,
            branch_id: branchId,
            environment,
            debug_events_request: debugEventsRequest,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/conversation/get-signed-url",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ConversationSignedUrlResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/conversation/get-signed-url",
        );
    }

    /**
     * Get a WebRTC session token for real-time communication.
     *
     * @param {ElevenLabs.agents.GetWebrtcTokenConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.conversations.getWebrtcToken({
     *         agentId: "agent_3701k3ttaq12ewp8b7qv5rfyszkz",
     *         participantName: "participant_name",
     *         branchId: "branch_id",
     *         environment: "environment",
     *         debugEventsRequest: true
     *     })
     */
    public getWebrtcToken(
        request: ElevenLabs.agents.GetWebrtcTokenConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.TokenResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__getWebrtcToken(request, requestOptions));
    }

    private async __getWebrtcToken(
        request: ElevenLabs.agents.GetWebrtcTokenConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.TokenResponseModel>> {
        const { agentId, participantName, branchId, environment, debugEventsRequest } = request;
        const _queryParams: Record<string, unknown> = {
            agent_id: agentId,
            participant_name: participantName,
            branch_id: branchId,
            environment,
            debug_events_request: debugEventsRequest,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/conversation/token",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.TokenResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/convai/conversation/token");
    }

    /**
     * Get all conversations of agents that user owns. With option to restrict to a specific agent.
     *
     * @param {ElevenLabs.agents.ListConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.conversations.list({
     *         cursor: "cursor",
     *         agentId: "agent_id",
     *         visitedAgentIds: ["visited_agent_ids"],
     *         visitedAgentBranchIds: ["visited_agent_branch_ids"],
     *         triggeredProcedureIds: ["triggered_procedure_ids"],
     *         callSuccessful: "success",
     *         callStartBeforeUnix: 1,
     *         callStartAfterUnix: 1,
     *         callDurationMinSecs: 1,
     *         callDurationMaxSecs: 1,
     *         ratingMax: 1,
     *         ratingMin: 1,
     *         hasFeedbackComment: true,
     *         userId: "user_id",
     *         evaluationParams: ["evaluation_params"],
     *         dataCollectionParams: ["data_collection_params"],
     *         dataCollectionIds: ["data_collection_ids"],
     *         evaluationCriteriaIds: ["evaluation_criteria_ids"],
     *         toolNames: ["tool_names"],
     *         toolNamesSuccessful: ["tool_names_successful"],
     *         toolNamesErrored: ["tool_names_errored"],
     *         includeInvalidToolCalls: true,
     *         mainLanguages: ["main_languages"],
     *         pageSize: 1,
     *         summaryMode: "exclude",
     *         search: "search",
     *         conversationInitiationSource: "unknown",
     *         textOnly: true,
     *         conversationProductType: "agents",
     *         branchId: "branch_id",
     *         versionId: "version_id",
     *         parentConversationId: "parent_conversation_id",
     *         topicIds: ["topic_ids"],
     *         excludeStatuses: ["initiated"],
     *         tagIds: ["tag_ids"],
     *         workflowNodeEnteredId: "workflow_node_entered_id",
     *         terminationReasons: ["termination_reasons"],
     *         guardrailTypes: ["custom"],
     *         customGuardrailNames: ["custom_guardrail_names"],
     *         sortDirection: "asc"
     *     })
     */
    public list(
        request: ElevenLabs.agents.ListConversationsRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetConversationsPageResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ElevenLabs.agents.ListConversationsRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetConversationsPageResponseModel>> {
        const {
            cursor,
            agentId,
            visitedAgentIds,
            visitedAgentBranchIds,
            triggeredProcedureIds,
            callSuccessful,
            callStartBeforeUnix,
            callStartAfterUnix,
            callDurationMinSecs,
            callDurationMaxSecs,
            ratingMax,
            ratingMin,
            hasFeedbackComment,
            userId,
            evaluationParams,
            dataCollectionParams,
            dataCollectionIds,
            evaluationCriteriaIds,
            toolNames,
            toolNamesSuccessful,
            toolNamesErrored,
            includeInvalidToolCalls,
            mainLanguages,
            pageSize,
            summaryMode,
            search,
            conversationInitiationSource,
            textOnly,
            conversationProductType,
            branchId,
            versionId,
            parentConversationId,
            topicIds,
            excludeStatuses,
            tagIds,
            workflowNodeEnteredId,
            terminationReasons,
            guardrailTypes,
            customGuardrailNames,
            sortDirection,
        } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            agent_id: agentId,
            visited_agent_ids: visitedAgentIds,
            visited_agent_branch_ids: visitedAgentBranchIds,
            triggered_procedure_ids: triggeredProcedureIds,
            call_successful:
                callSuccessful != null
                    ? serializers.EvaluationResultFilter.jsonOrThrow(callSuccessful, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            call_start_before_unix: callStartBeforeUnix,
            call_start_after_unix: callStartAfterUnix,
            call_duration_min_secs: callDurationMinSecs,
            call_duration_max_secs: callDurationMaxSecs,
            rating_max: ratingMax,
            rating_min: ratingMin,
            has_feedback_comment: hasFeedbackComment,
            user_id: userId,
            evaluation_params: evaluationParams,
            data_collection_params: dataCollectionParams,
            data_collection_ids: dataCollectionIds,
            evaluation_criteria_ids: evaluationCriteriaIds,
            tool_names: toolNames,
            tool_names_successful: toolNamesSuccessful,
            tool_names_errored: toolNamesErrored,
            include_invalid_tool_calls: includeInvalidToolCalls,
            main_languages: mainLanguages,
            page_size: pageSize,
            summary_mode:
                summaryMode != null
                    ? serializers.agents.ListConversationsRequestSummaryMode.jsonOrThrow(summaryMode, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            search,
            conversation_initiation_source:
                conversationInitiationSource != null
                    ? serializers.ConversationInitiationSource.jsonOrThrow(conversationInitiationSource, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            text_only: textOnly,
            conversation_product_type:
                conversationProductType != null
                    ? serializers.ConversationProduct.jsonOrThrow(conversationProductType, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            branch_id: branchId,
            version_id: versionId,
            parent_conversation_id: parentConversationId,
            topic_ids: topicIds,
            exclude_statuses: Array.isArray(excludeStatuses)
                ? excludeStatuses.map((item) =>
                      serializers.agents.ListConversationsRequestExcludeStatusesItem.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      }),
                  )
                : excludeStatuses != null
                  ? serializers.agents.ListConversationsRequestExcludeStatusesItem.jsonOrThrow(excludeStatuses, {
                        unrecognizedObjectKeys: "strip",
                        omitUndefined: true,
                    })
                  : undefined,
            tag_ids: tagIds,
            workflow_node_entered_id: workflowNodeEnteredId,
            termination_reasons: terminationReasons,
            guardrail_types: Array.isArray(guardrailTypes)
                ? guardrailTypes.map((item) =>
                      serializers.GuardrailType.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      }),
                  )
                : guardrailTypes != null
                  ? serializers.GuardrailType.jsonOrThrow(guardrailTypes, {
                        unrecognizedObjectKeys: "strip",
                        omitUndefined: true,
                    })
                  : undefined,
            custom_guardrail_names: customGuardrailNames,
            sort_direction:
                sortDirection != null
                    ? serializers.SortDirection.jsonOrThrow(sortDirection, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/conversations",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetConversationsPageResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/convai/conversations");
    }

    /**
     * Resolve a conversation URL (a Slack message URL or a Zendesk ticket URL) to the deterministic conversation ID for the given agent, then confirm the conversation exists.
     *
     * @param {ElevenLabs.agents.ResolveConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.conversations.resolve({
     *         agentId: "agent_3701k3ttaq12ewp8b7qv5rfyszkz",
     *         reference: "https://your-domain.zendesk.com/agent/tickets/12345"
     *     })
     */
    public resolve(
        request: ElevenLabs.agents.ResolveConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetConversationResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__resolve(request, requestOptions));
    }

    private async __resolve(
        request: ElevenLabs.agents.ResolveConversationsRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetConversationResponseModel>> {
        const { agentId, reference } = request;
        const _queryParams: Record<string, unknown> = {
            agent_id: agentId,
            reference,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/conversations/resolve",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetConversationResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/conversations/resolve",
        );
    }

    /**
     * Get the details of a particular conversation
     *
     * @param {string} conversation_id - The id of the conversation you're taking the action on.
     * @param {ElevenLabs.agents.GetConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.conversations.get("21m00Tcm4TlvDq8ikWAM", {
     *         format: "json"
     *     })
     */
    public get(
        conversation_id: string,
        request: ElevenLabs.agents.GetConversationsRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetConversationResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__get(conversation_id, request, requestOptions));
    }

    private async __get(
        conversation_id: string,
        request: ElevenLabs.agents.GetConversationsRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetConversationResponseModel>> {
        const { format } = request;
        const _queryParams: Record<string, unknown> = {
            format:
                format != null
                    ? serializers.agents.GetConversationsRequestFormat.jsonOrThrow(format, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/conversations/${core.url.encodePathParam(conversation_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetConversationResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/conversations/{conversation_id}",
        );
    }

    /**
     * Delete a particular conversation
     *
     * @param {string} conversation_id - The id of the conversation you're taking the action on.
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.conversations.delete("21m00Tcm4TlvDq8ikWAM")
     */
    public delete(
        conversation_id: string,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__delete(conversation_id, requestOptions));
    }

    private async __delete(
        conversation_id: string,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/conversations/${core.url.encodePathParam(conversation_id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/convai/conversations/{conversation_id}",
        );
    }

    /**
     * Get a lightweight summary of a conversation: its title, the generated transcript summary, whether the call was successful, and — only when the conversation is short — the plain chat messages. Tool calls, tool results, and contextual updates are omitted so the response stays small. Use this instead of the full conversation endpoint when you only need the gist (e.g. an agent reading many conversations); use GET /v1/convai/conversations/{conversation_id} when you need the full transcript with tool calls and contextual updates.
     *
     * @param {string} conversation_id - The id of the conversation you're taking the action on.
     * @param {ElevenLabs.agents.GetSummaryConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.conversations.getSummary("21m00Tcm4TlvDq8ikWAM", {
     *         maxMessages: 1
     *     })
     */
    public getSummary(
        conversation_id: string,
        request: ElevenLabs.agents.GetSummaryConversationsRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetConversationSummaryResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__getSummary(conversation_id, request, requestOptions));
    }

    private async __getSummary(
        conversation_id: string,
        request: ElevenLabs.agents.GetSummaryConversationsRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetConversationSummaryResponseModel>> {
        const { maxMessages } = request;
        const _queryParams: Record<string, unknown> = {
            max_messages: maxMessages,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/conversations/${core.url.encodePathParam(conversation_id)}/summary`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetConversationSummaryResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/conversations/{conversation_id}/summary",
        );
    }

    /**
     * Get SIP messages associated with a conversation's phone call
     *
     * @param {string} conversation_id - The id of the conversation you're taking the action on.
     * @param {ElevenLabs.agents.GetSipMessagesConversationsRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.conversations.getSipMessages("21m00Tcm4TlvDq8ikWAM", {
     *         pageSize: 1,
     *         cursor: "cursor"
     *     })
     */
    public getSipMessages(
        conversation_id: string,
        request: ElevenLabs.agents.GetSipMessagesConversationsRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetSipLogMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSipMessages(conversation_id, request, requestOptions));
    }

    private async __getSipMessages(
        conversation_id: string,
        request: ElevenLabs.agents.GetSipMessagesConversationsRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetSipLogMessagesResponse>> {
        const { pageSize, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            page_size: pageSize,
            cursor,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/conversations/${core.url.encodePathParam(conversation_id)}/sip-messages`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetSipLogMessagesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/conversations/{conversation_id}/sip-messages",
        );
    }
}
