// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../index";

export declare namespace AuditLogsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuditLogsClient {
    protected readonly _options: NormalizedClientOptions<AuditLogsClient.Options>;

    constructor(options: AuditLogsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns the audit log for the workspace. Requires enterprise tier and the audit_log_read permission.
     *
     * @param {ElevenLabs.workspace.AuditLogsListRequest} request
     * @param {AuditLogsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.workspace.auditLogs.list({
     *         limit: 1,
     *         cursor: "cursor",
     *         timeFromUnixMs: 1,
     *         timeToUnixMs: 1,
     *         actorUid: "actor_uid",
     *         className: "class_name",
     *         activityName: "activity_name"
     *     })
     */
    public list(
        request: ElevenLabs.workspace.AuditLogsListRequest = {},
        requestOptions?: AuditLogsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.WorkspaceAuditLogsPageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ElevenLabs.workspace.AuditLogsListRequest = {},
        requestOptions?: AuditLogsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.WorkspaceAuditLogsPageResponse>> {
        const { limit, cursor, timeFromUnixMs, timeToUnixMs, actorUid, className, activityName } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (limit != null) {
            _queryParams.limit = limit.toString();
        }

        if (cursor != null) {
            _queryParams.cursor = cursor;
        }

        if (timeFromUnixMs != null) {
            _queryParams.time_from_unix_ms = timeFromUnixMs.toString();
        }

        if (timeToUnixMs != null) {
            _queryParams.time_to_unix_ms = timeToUnixMs.toString();
        }

        if (actorUid != null) {
            _queryParams.actor_uid = actorUid;
        }

        if (className != null) {
            _queryParams.class_name = className;
        }

        if (activityName != null) {
            _queryParams.activity_name = activityName;
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/workspace/audit-logs",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.WorkspaceAuditLogsPageResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/workspace/audit-logs");
    }
}
