// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as ElevenLabs from "../../../../../index.js";

export declare namespace AuditLogsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuditLogsClient {
    protected readonly _options: NormalizedClientOptions<AuditLogsClient.Options>;

    constructor(options: AuditLogsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns the audit log for the workspace. Requires enterprise tier and the audit_log_read permission.
     *
     * @param {ElevenLabs.workspace.ListAuditLogsRequest} request
     * @param {AuditLogsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.workspace.auditLogs.list({
     *         limit: 1,
     *         cursor: "cursor",
     *         timeFromUnixMs: 1,
     *         timeToUnixMs: 1,
     *         actorUid: "actor_uid",
     *         className: "class_name",
     *         activityName: "activity_name"
     *     })
     */
    public list(
        request: ElevenLabs.workspace.ListAuditLogsRequest = {},
        requestOptions?: AuditLogsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.WorkspaceAuditLogsPageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ElevenLabs.workspace.ListAuditLogsRequest = {},
        requestOptions?: AuditLogsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.WorkspaceAuditLogsPageResponse>> {
        const { limit, cursor, timeFromUnixMs, timeToUnixMs, actorUid, className, activityName } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            cursor,
            time_from_unix_ms: timeFromUnixMs,
            time_to_unix_ms: timeToUnixMs,
            actor_uid: actorUid,
            class_name: className,
            activity_name: activityName,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/workspace/audit-logs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.WorkspaceAuditLogsPageResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/workspace/audit-logs");
    }
}
