// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { TranslateSocket } from "./Socket.js";

export declare namespace TranslateClient {
    export type Options = BaseClientOptions;

    export interface ConnectArgs {
        authorization?: string;
        targetLanguage: string;
        sourceLanguage?: string;
        voiceId: string;
        inputFormat?: string;
        outputFormat?: string;
        ttsModelId?: string;
        clientSessionId?: string;
        enableZrm?: string;
        /** WebSocket subprotocols to use for the connection. */
        protocols?: string | string[];
        /** Additional query parameters to send with the websocket connect request. */
        queryParams?: Record<string, unknown>;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
        /** The timeout for establishing the WebSocket connection in seconds. */
        connectionTimeoutInSeconds?: number;
        /** A signal to abort the WebSocket connection. */
        abortSignal?: AbortSignal;
    }
}

export class TranslateClient {
    protected readonly _options: NormalizedClientOptions<TranslateClient.Options>;

    constructor(options: TranslateClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public async realtime(args: TranslateClient.ConnectArgs): Promise<TranslateSocket> {
        const {
            authorization,
            targetLanguage,
            sourceLanguage,
            voiceId,
            inputFormat,
            outputFormat,
            ttsModelId,
            clientSessionId,
            enableZrm,
            protocols,
            queryParams,
            headers,
            debug,
            reconnectAttempts,
            connectionTimeoutInSeconds,
            abortSignal,
        } = args;
        const _queryParams: Record<string, unknown> = {
            authorization,
            target_language: targetLanguage,
            source_language: sourceLanguage,
            voice_id: voiceId,
            input_format: inputFormat,
            output_format: outputFormat,
            tts_model_id: ttsModelId,
            client_session_id: clientSessionId,
            enable_zrm: enableZrm,
        };
        const _headers: Record<string, unknown> = mergeHeaders(this._options?.headers, headers);
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "/v1/translate/realtime",
            ),
            protocols: protocols ?? [],
            queryParameters: { ..._queryParams, ...queryParams },
            headers: _headers,
            options: {
                debug: debug ?? false,
                maxRetries: reconnectAttempts ?? 30,
                connectionTimeout: connectionTimeoutInSeconds != null ? connectionTimeoutInSeconds * 1000 : undefined,
            },
            abortSignal: abortSignal,
        });
        return new TranslateSocket({ socket });
    }
}
