// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../BaseClient";
import * as core from "../../../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers";
import { mergeAdditionalBodyParameters } from "../../../../../../../../core/requestBody";
import * as environments from "../../../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../../../errors/index";
import * as serializers from "../../../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../../../index";

export declare namespace MergeProposalsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MergeProposalsClient {
    protected readonly _options: NormalizedClientOptions<MergeProposalsClient.Options>;

    constructor(options: MergeProposalsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List the proposals for an agent, newest first.
     *
     * @param {string} agent_id - The id of an agent. This is returned on agent creation.
     * @param {ElevenLabs.conversationalAi.agents.MergeProposalsListRequest} request
     * @param {MergeProposalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.agents.mergeProposals.list("agent_3701k3ttaq12ewp8b7qv5rfyszkz", {
     *         status: "open",
     *         sourceBranchId: "source_branch_id",
     *         targetBranchId: "target_branch_id",
     *         search: "search",
     *         pageSize: 1,
     *         cursor: "cursor"
     *     })
     */
    public list(
        agent_id: string,
        request: ElevenLabs.conversationalAi.agents.MergeProposalsListRequest = {},
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.PaginatedResultAgentMergeProposalResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(agent_id, request, requestOptions));
    }

    private async __list(
        agent_id: string,
        request: ElevenLabs.conversationalAi.agents.MergeProposalsListRequest = {},
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.PaginatedResultAgentMergeProposalResponse>> {
        const { status, sourceBranchId, targetBranchId, search, pageSize, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            status:
                status != null
                    ? serializers.MergeProposalStatus.jsonOrThrow(status, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            source_branch_id: sourceBranchId,
            target_branch_id: targetBranchId,
            search,
            page_size: pageSize,
            cursor,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/merge-proposals`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.PaginatedResultAgentMergeProposalResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/agents/{agent_id}/merge-proposals",
        );
    }

    /**
     * Record a request to merge a source branch into a target branch. Anyone with edit access can open one; merging it later is gated on write access to the target branch, so this is how a change reaches a protected branch the author cannot merge into themselves.
     *
     * @param {string} agent_id - The id of an agent. This is returned on agent creation.
     * @param {ElevenLabs.conversationalAi.agents.BodyCreateAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsPost} request
     * @param {MergeProposalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.agents.mergeProposals.create("agent_3701k3ttaq12ewp8b7qv5rfyszkz", {
     *         sourceBranchId: "source_branch_id",
     *         targetBranchId: "target_branch_id",
     *         title: "title"
     *     })
     */
    public create(
        agent_id: string,
        request: ElevenLabs.conversationalAi.agents.BodyCreateAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsPost,
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.CreateAgentMergeProposalResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__create(agent_id, request, requestOptions));
    }

    private async __create(
        agent_id: string,
        request: ElevenLabs.conversationalAi.agents.BodyCreateAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsPost,
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.CreateAgentMergeProposalResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/merge-proposals`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.conversationalAi.agents.BodyCreateAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsPost.jsonOrThrow(
                    request,
                    { unrecognizedObjectKeys: "strip" },
                ),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CreateAgentMergeProposalResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/convai/agents/{agent_id}/merge-proposals",
        );
    }

    /**
     * Get a single merge_proposal.
     *
     * @param {string} agent_id - The id of an agent. This is returned on agent creation.
     * @param {string} merge_proposal_id - Unique identifier for the merge_proposal.
     * @param {MergeProposalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.agents.mergeProposals.get("agent_3701k3ttaq12ewp8b7qv5rfyszkz", "agtmprop_8901k4t9z5defmb8vh3e9361y7nj")
     */
    public get(
        agent_id: string,
        merge_proposal_id: string,
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AgentMergeProposalResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(agent_id, merge_proposal_id, requestOptions));
    }

    private async __get(
        agent_id: string,
        merge_proposal_id: string,
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AgentMergeProposalResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/merge-proposals/${core.url.encodePathParam(merge_proposal_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentMergeProposalResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/agents/{agent_id}/merge-proposals/{merge_proposal_id}",
        );
    }

    /**
     * Edit an open merge_proposal's title or description, or close it. The author closing it is recorded as withdrawn; anyone else as rejected.
     *
     * @param {string} agent_id - The id of an agent. This is returned on agent creation.
     * @param {string} merge_proposal_id - Unique identifier for the merge_proposal.
     * @param {ElevenLabs.conversationalAi.agents.BodyUpdateAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdPatch} request
     * @param {MergeProposalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.agents.mergeProposals.update("agent_3701k3ttaq12ewp8b7qv5rfyszkz", "agtmprop_8901k4t9z5defmb8vh3e9361y7nj")
     */
    public update(
        agent_id: string,
        merge_proposal_id: string,
        request: ElevenLabs.conversationalAi.agents.BodyUpdateAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdPatch = {},
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AgentMergeProposalResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__update(agent_id, merge_proposal_id, request, requestOptions),
        );
    }

    private async __update(
        agent_id: string,
        merge_proposal_id: string,
        request: ElevenLabs.conversationalAi.agents.BodyUpdateAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdPatch = {},
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AgentMergeProposalResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/merge-proposals/${core.url.encodePathParam(merge_proposal_id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.conversationalAi.agents.BodyUpdateAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdPatch.jsonOrThrow(
                    request,
                    { unrecognizedObjectKeys: "strip" },
                ),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentMergeProposalResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/convai/agents/{agent_id}/merge-proposals/{merge_proposal_id}",
        );
    }

    /**
     * Approve a merge_proposal or request changes on it. A user's latest review replaces their previous one. Non-admins need an approval from another user before the merge is allowed.
     *
     * @param {string} agent_id - The id of an agent. This is returned on agent creation.
     * @param {string} merge_proposal_id - Unique identifier for the merge_proposal.
     * @param {ElevenLabs.conversationalAi.agents.BodyReviewAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdReviewsPost} request
     * @param {MergeProposalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.agents.mergeProposals.submitReview("agent_3701k3ttaq12ewp8b7qv5rfyszkz", "agtmprop_8901k4t9z5defmb8vh3e9361y7nj", {
     *         state: "approved"
     *     })
     */
    public submitReview(
        agent_id: string,
        merge_proposal_id: string,
        request: ElevenLabs.conversationalAi.agents.BodyReviewAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdReviewsPost,
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AgentMergeProposalResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__submitReview(agent_id, merge_proposal_id, request, requestOptions),
        );
    }

    private async __submitReview(
        agent_id: string,
        merge_proposal_id: string,
        request: ElevenLabs.conversationalAi.agents.BodyReviewAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdReviewsPost,
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AgentMergeProposalResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/merge-proposals/${core.url.encodePathParam(merge_proposal_id)}/reviews`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.conversationalAi.agents.BodyReviewAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdReviewsPost.jsonOrThrow(
                    request,
                    { unrecognizedObjectKeys: "strip" },
                ),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentMergeProposalResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/convai/agents/{agent_id}/merge-proposals/{merge_proposal_id}/reviews",
        );
    }

    /**
     * Leave a comment on a merge_proposal without recording a review verdict. Unlike reviews, comments accumulate and can still be added once the merge_proposal is merged or closed.
     *
     * @param {string} agent_id - The id of an agent. This is returned on agent creation.
     * @param {string} merge_proposal_id - Unique identifier for the merge_proposal.
     * @param {ElevenLabs.conversationalAi.agents.BodyCommentOnAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdCommentsPost} request
     * @param {MergeProposalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.agents.mergeProposals.addComment("agent_3701k3ttaq12ewp8b7qv5rfyszkz", "agtmprop_8901k4t9z5defmb8vh3e9361y7nj", {
     *         body: "body"
     *     })
     */
    public addComment(
        agent_id: string,
        merge_proposal_id: string,
        request: ElevenLabs.conversationalAi.agents.BodyCommentOnAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdCommentsPost,
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AgentMergeProposalResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__addComment(agent_id, merge_proposal_id, request, requestOptions),
        );
    }

    private async __addComment(
        agent_id: string,
        merge_proposal_id: string,
        request: ElevenLabs.conversationalAi.agents.BodyCommentOnAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdCommentsPost,
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AgentMergeProposalResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/merge-proposals/${core.url.encodePathParam(merge_proposal_id)}/comments`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.conversationalAi.agents.BodyCommentOnAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdCommentsPost.jsonOrThrow(
                    request,
                    { unrecognizedObjectKeys: "strip" },
                ),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentMergeProposalResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/convai/agents/{agent_id}/merge-proposals/{merge_proposal_id}/comments",
        );
    }

    /**
     * Execute the merge. The caller must have write access to the target branch (admins only, for a protected branch), so this is where a reviewer approves and merges a request opened by someone who could not.
     *
     * @param {string} agent_id - The id of an agent. This is returned on agent creation.
     * @param {string} merge_proposal_id - Unique identifier for the merge_proposal.
     * @param {ElevenLabs.conversationalAi.agents.BodyMergeAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdMergePost} request
     * @param {MergeProposalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.conversationalAi.agents.mergeProposals.merge("agent_3701k3ttaq12ewp8b7qv5rfyszkz", "agtmprop_8901k4t9z5defmb8vh3e9361y7nj")
     */
    public merge(
        agent_id: string,
        merge_proposal_id: string,
        request: ElevenLabs.conversationalAi.agents.BodyMergeAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdMergePost = {},
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AgentMergeProposalResponse> {
        return core.HttpResponsePromise.fromPromise(this.__merge(agent_id, merge_proposal_id, request, requestOptions));
    }

    private async __merge(
        agent_id: string,
        merge_proposal_id: string,
        request: ElevenLabs.conversationalAi.agents.BodyMergeAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdMergePost = {},
        requestOptions?: MergeProposalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AgentMergeProposalResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/merge-proposals/${core.url.encodePathParam(merge_proposal_id)}/merge`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.conversationalAi.agents.BodyMergeAMergeProposalV1ConvaiAgentsAgentIdMergeProposalsMergeProposalIdMergePost.jsonOrThrow(
                    request,
                    { unrecognizedObjectKeys: "strip" },
                ),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentMergeProposalResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/convai/agents/{agent_id}/merge-proposals/{merge_proposal_id}/merge",
        );
    }
}
