// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as ElevenLabs from "../../../../../index.js";

export declare namespace FinetunesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FinetunesClient {
    protected readonly _options: NormalizedClientOptions<FinetunesClient.Options>;

    constructor(options: FinetunesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List music finetunes accessible to you (your own, workspace-shared, and ElevenLabs-curated), with optional filtering, sorting, and cursor pagination.
     *
     * @param {ElevenLabs.music.ListFinetunesRequest} request
     * @param {FinetunesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.music.finetunes.list({
     *         cursor: "cursor",
     *         pageSize: 1,
     *         visibility: "private",
     *         createdBy: "self",
     *         sort: "created_at",
     *         sortDirection: "asc"
     *     })
     */
    public list(
        request: ElevenLabs.music.ListFinetunesRequest = {},
        requestOptions?: FinetunesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.MusicFinetunePageResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ElevenLabs.music.ListFinetunesRequest = {},
        requestOptions?: FinetunesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.MusicFinetunePageResponseModel>> {
        const { cursor, pageSize, visibility, createdBy, sort, sortDirection } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            page_size: pageSize,
            visibility:
                visibility != null
                    ? serializers.FinetuneVisibility.jsonOrThrow(visibility, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            created_by:
                createdBy != null
                    ? serializers.FinetuneCreatedBy.jsonOrThrow(createdBy, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            sort:
                sort != null
                    ? serializers.music.ListFinetunesRequestSort.jsonOrThrow(sort, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            sort_direction:
                sortDirection != null
                    ? serializers.music.ListFinetunesRequestSortDirection.jsonOrThrow(sortDirection, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/music/finetunes",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.MusicFinetunePageResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/music/finetunes");
    }

    /**
     * Create a new music finetune
     *
     * @param {ElevenLabs.music.BodyCreateMusicFinetuneV1MusicFinetunesPost} request
     * @param {FinetunesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.ForbiddenError}
     * @throws {@link ElevenLabs.NotFoundError}
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.music.finetunes.create({
     *         name: "name",
     *         primaryGenre: "primary_genre"
     *     })
     */
    public create(
        request: ElevenLabs.music.BodyCreateMusicFinetuneV1MusicFinetunesPost,
        requestOptions?: FinetunesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.MusicFinetuneResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: ElevenLabs.music.BodyCreateMusicFinetuneV1MusicFinetunesPost,
        requestOptions?: FinetunesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.MusicFinetuneResponseModel>> {
        const _body = await core.newFormData();
        _body.append("name", request.name);
        _body.append("primary_genre", request.primaryGenre);
        if (request.files != null) {
            for (const _file of request.files) {
                await _body.appendFile("files", _file);
            }
        }

        if (request.tags != null) {
            for (const _item of request.tags) {
                _body.append("tags", _item);
            }
        }

        if (request.visibility != null) {
            _body.append(
                "visibility",
                serializers.music.CreateFinetunesRequestVisibility.jsonOrThrow(request.visibility, {
                    unrecognizedObjectKeys: "strip",
                    omitUndefined: true,
                }),
            );
        }

        if (request.modelId != null) {
            _body.append(
                "model_id",
                serializers.MusicModelId.jsonOrThrow(request.modelId, {
                    unrecognizedObjectKeys: "strip",
                    omitUndefined: true,
                }),
            );
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/music/finetunes",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.MusicFinetuneResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ElevenLabs.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new ElevenLabs.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/music/finetunes");
    }

    /**
     * Get a music finetune.
     *
     * @param {string} finetune_id
     * @param {FinetunesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.ForbiddenError}
     * @throws {@link ElevenLabs.NotFoundError}
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.music.finetunes.get("finetune_id")
     */
    public get(
        finetune_id: string,
        requestOptions?: FinetunesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.MusicFinetuneResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__get(finetune_id, requestOptions));
    }

    private async __get(
        finetune_id: string,
        requestOptions?: FinetunesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.MusicFinetuneResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/music/finetunes/${core.url.encodePathParam(finetune_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.MusicFinetuneResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ElevenLabs.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new ElevenLabs.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/music/finetunes/{finetune_id}",
        );
    }

    /**
     * Delete a music finetune
     *
     * @param {string} finetune_id
     * @param {FinetunesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.ForbiddenError}
     * @throws {@link ElevenLabs.NotFoundError}
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.music.finetunes.delete("finetune_id")
     */
    public delete(
        finetune_id: string,
        requestOptions?: FinetunesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.MusicFinetuneResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__delete(finetune_id, requestOptions));
    }

    private async __delete(
        finetune_id: string,
        requestOptions?: FinetunesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.MusicFinetuneResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/music/finetunes/${core.url.encodePathParam(finetune_id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.MusicFinetuneResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ElevenLabs.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new ElevenLabs.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/music/finetunes/{finetune_id}",
        );
    }

    /**
     * Update a music finetune.
     *
     * @param {string} finetune_id
     * @param {ElevenLabs.music.UpdateMusicFinetuneRequestModel} request
     * @param {FinetunesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.ForbiddenError}
     * @throws {@link ElevenLabs.NotFoundError}
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.music.finetunes.update("finetune_id")
     */
    public update(
        finetune_id: string,
        request: ElevenLabs.music.UpdateMusicFinetuneRequestModel = {},
        requestOptions?: FinetunesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.MusicFinetuneResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__update(finetune_id, request, requestOptions));
    }

    private async __update(
        finetune_id: string,
        request: ElevenLabs.music.UpdateMusicFinetuneRequestModel = {},
        requestOptions?: FinetunesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.MusicFinetuneResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/music/finetunes/${core.url.encodePathParam(finetune_id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.music.UpdateMusicFinetuneRequestModel.jsonOrThrow(request, {
                    unrecognizedObjectKeys: "strip",
                    omitUndefined: true,
                }),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.MusicFinetuneResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ElevenLabs.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new ElevenLabs.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/music/finetunes/{finetune_id}",
        );
    }
}
