// This file was auto-generated by Fern from our API Definition.

import type * as core from "../../../../../../../core";
import type * as ElevenLabs from "../../../../../../index";

/**
 * @example
 *     {
 *         files: [fs.createReadStream("/path/to/your/file")],
 *         name: "name"
 *     }
 */
export interface BodyAddVoiceV1VoicesAddPost {
    /** The name that identifies this voice. This will be displayed in the dropdown of the website. */
    name: string;
    /** A list of file paths to audio recordings intended for voice cloning. */
    files: core.file.Uploadable[];
    /** If set will remove background noise for voice samples using our audio isolation model. If the samples do not include background noise, it can make the quality worse. */
    removeBackgroundNoise?: boolean;
    /** A description of the voice. */
    description?: string;
    /** Labels for the voice. Keys can be language, accent, gender, or age. */
    labels?: ElevenLabs.voices.IvcCreateRequestLabels;
}
