// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../../../BaseClient";
import * as core from "../../../../../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../../../core/headers";
import * as environments from "../../../../../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../../../../../errors/index";
import * as serializers from "../../../../../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../../../../../index";

export declare namespace ChunksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ChunksClient {
    protected readonly _options: NormalizedClientOptions<ChunksClient.Options>;

    constructor(options: ChunksClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Get all RAG chunks for a specific knowledge base document.
     *
     * @param {string} documentation_id - The id of a document from the knowledge base. This is returned on document addition.
     * @param {ElevenLabs.conversationalAi.knowledgeBase.documents.ChunksListRequest} request
     * @param {ChunksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.knowledgeBase.documents.chunks.list("21m00Tcm4TlvDq8ikWAM", {
     *         embeddingModel: "e5_mistral_7b_instruct",
     *         pageSize: 1,
     *         cursor: "cursor"
     *     })
     */
    public list(
        documentation_id: string,
        request: ElevenLabs.conversationalAi.knowledgeBase.documents.ChunksListRequest,
        requestOptions?: ChunksClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.KnowledgeBaseDocumentChunksResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__list(documentation_id, request, requestOptions));
    }

    private async __list(
        documentation_id: string,
        request: ElevenLabs.conversationalAi.knowledgeBase.documents.ChunksListRequest,
        requestOptions?: ChunksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.KnowledgeBaseDocumentChunksResponseModel>> {
        const { embeddingModel, pageSize, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            embedding_model: serializers.EmbeddingModelEnum.jsonOrThrow(embeddingModel, {
                unrecognizedObjectKeys: "strip",
            }),
            page_size: pageSize,
            cursor,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/knowledge-base/${core.url.encodePathParam(documentation_id)}/chunks`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.KnowledgeBaseDocumentChunksResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/knowledge-base/{documentation_id}/chunks",
        );
    }
}
