// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as serializers from "../../../../serialization/index";
import * as ElevenLabs from "../../../index";
import { IvcClient } from "../resources/ivc/client/Client";
import { PvcClient } from "../resources/pvc/client/Client";
import { SamplesClient } from "../resources/samples/client/Client";
import { SettingsClient } from "../resources/settings/client/Client";

export declare namespace VoicesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Access to voices created either by you or ElevenLabs.
 */
export class VoicesClient {
    protected readonly _options: NormalizedClientOptions<VoicesClient.Options>;
    protected _settings: SettingsClient | undefined;
    protected _ivc: IvcClient | undefined;
    protected _pvc: PvcClient | undefined;
    protected _samples: SamplesClient | undefined;

    constructor(options: VoicesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public get settings(): SettingsClient {
        return (this._settings ??= new SettingsClient(this._options));
    }

    public get ivc(): IvcClient {
        return (this._ivc ??= new IvcClient(this._options));
    }

    public get pvc(): PvcClient {
        return (this._pvc ??= new PvcClient(this._options));
    }

    public get samples(): SamplesClient {
        return (this._samples ??= new SamplesClient(this._options));
    }

    /**
     * Returns a list of all available voices for a user.
     *
     * @param {ElevenLabs.VoicesGetAllRequest} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.voices.getAll({
     *         showLegacy: true
     *     })
     */
    public getAll(
        request: ElevenLabs.VoicesGetAllRequest = {},
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetVoicesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAll(request, requestOptions));
    }

    private async __getAll(
        request: ElevenLabs.VoicesGetAllRequest = {},
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetVoicesResponse>> {
        const { showLegacy } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (showLegacy != null) {
            _queryParams.show_legacy = showLegacy.toString();
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/voices",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetVoicesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/voices");
    }

    /**
     * Gets a list of all available voices for a user with search, filtering and pagination.
     *
     * @param {ElevenLabs.VoicesSearchRequest} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.voices.search({
     *         nextPageToken: "next_page_token",
     *         pageSize: 1,
     *         search: "search",
     *         sort: "sort",
     *         sortDirection: "sort_direction",
     *         voiceType: "voice_type",
     *         category: "category",
     *         fineTuningState: "fine_tuning_state",
     *         collectionId: "collection_id",
     *         includeTotalCount: true
     *     })
     */
    public search(
        request: ElevenLabs.VoicesSearchRequest = {},
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetVoicesV2Response> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: ElevenLabs.VoicesSearchRequest = {},
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetVoicesV2Response>> {
        const {
            nextPageToken,
            pageSize,
            search,
            sort,
            sortDirection,
            voiceType,
            category,
            fineTuningState,
            collectionId,
            includeTotalCount,
            voiceIds,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (nextPageToken != null) {
            _queryParams.next_page_token = nextPageToken;
        }

        if (pageSize != null) {
            _queryParams.page_size = pageSize.toString();
        }

        if (search != null) {
            _queryParams.search = search;
        }

        if (sort != null) {
            _queryParams.sort = sort;
        }

        if (sortDirection != null) {
            _queryParams.sort_direction = sortDirection;
        }

        if (voiceType != null) {
            _queryParams.voice_type = voiceType;
        }

        if (category != null) {
            _queryParams.category = category;
        }

        if (fineTuningState != null) {
            _queryParams.fine_tuning_state = fineTuningState;
        }

        if (collectionId != null) {
            _queryParams.collection_id = collectionId;
        }

        if (includeTotalCount != null) {
            _queryParams.include_total_count = includeTotalCount.toString();
        }

        if (voiceIds != null) {
            if (Array.isArray(voiceIds)) {
                _queryParams.voice_ids = voiceIds.map((item) => item);
            } else {
                _queryParams.voice_ids = voiceIds;
            }
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v2/voices",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetVoicesV2Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/voices");
    }

    /**
     * Returns metadata about a specific voice.
     *
     * @param {string} voice_id - ID of the voice to be used. You can use the [Get voices](/docs/api-reference/voices/search) endpoint list all the available voices.
     * @param {ElevenLabs.VoicesGetRequest} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.voices.get("21m00Tcm4TlvDq8ikWAM", {
     *         withSettings: true
     *     })
     */
    public get(
        voice_id: string,
        request: ElevenLabs.VoicesGetRequest = {},
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.Voice> {
        return core.HttpResponsePromise.fromPromise(this.__get(voice_id, request, requestOptions));
    }

    private async __get(
        voice_id: string,
        request: ElevenLabs.VoicesGetRequest = {},
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.Voice>> {
        const { withSettings } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (withSettings != null) {
            _queryParams.with_settings = withSettings.toString();
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/voices/${core.url.encodePathParam(voice_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.Voice.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/voices/{voice_id}");
    }

    /**
     * Deletes a voice by its ID.
     *
     * @param {string} voice_id - ID of the voice to be used. You can use the [Get voices](/docs/api-reference/voices/search) endpoint list all the available voices.
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.voices.delete("21m00Tcm4TlvDq8ikWAM")
     */
    public delete(
        voice_id: string,
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.DeleteVoiceResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__delete(voice_id, requestOptions));
    }

    private async __delete(
        voice_id: string,
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.DeleteVoiceResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/voices/${core.url.encodePathParam(voice_id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DeleteVoiceResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/voices/{voice_id}");
    }

    /**
     * Edit a voice created by you.
     *
     * @param {string} voice_id
     * @param {ElevenLabs.BodyEditVoiceV1VoicesVoiceIdEditPost} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.voices.update("21m00Tcm4TlvDq8ikWAM", {
     *         name: "name"
     *     })
     */
    public update(
        voice_id: string,
        request: ElevenLabs.BodyEditVoiceV1VoicesVoiceIdEditPost,
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.EditVoiceResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__update(voice_id, request, requestOptions));
    }

    private async __update(
        voice_id: string,
        request: ElevenLabs.BodyEditVoiceV1VoicesVoiceIdEditPost,
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.EditVoiceResponseModel>> {
        const _request = await core.newFormData();
        _request.append("name", request.name);
        if (request.files != null) {
            for (const _file of request.files) {
                await _request.appendFile("files", _file);
            }
        }

        if (request.removeBackgroundNoise != null) {
            _request.append("remove_background_noise", request.removeBackgroundNoise.toString());
        }

        if (request.description != null) {
            _request.append("description", request.description);
        }

        if (request.labels != null) {
            _request.append("labels", request.labels);
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey,
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/voices/${core.url.encodePathParam(voice_id)}/edit`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.EditVoiceResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/voices/{voice_id}/edit");
    }

    /**
     * Add a shared voice to your collection of Voices
     *
     * @param {string} public_user_id - Public user ID used to publicly identify ElevenLabs users.
     * @param {string} voice_id - ID of the voice to be used. You can use the [Get voices](/docs/api-reference/voices/search) endpoint list all the available voices.
     * @param {ElevenLabs.BodyAddSharedVoiceV1VoicesAddPublicUserIdVoiceIdPost} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.voices.share("63e06b7e7cafdc46be4d2e0b3f045940231ae058d508589653d74d1265a574ca", "21m00Tcm4TlvDq8ikWAM", {
     *         newName: "John Smith"
     *     })
     */
    public share(
        public_user_id: string,
        voice_id: string,
        request: ElevenLabs.BodyAddSharedVoiceV1VoicesAddPublicUserIdVoiceIdPost,
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AddVoiceResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__share(public_user_id, voice_id, request, requestOptions));
    }

    private async __share(
        public_user_id: string,
        voice_id: string,
        request: ElevenLabs.BodyAddSharedVoiceV1VoicesAddPublicUserIdVoiceIdPost,
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AddVoiceResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/voices/add/${core.url.encodePathParam(public_user_id)}/${core.url.encodePathParam(voice_id)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.BodyAddSharedVoiceV1VoicesAddPublicUserIdVoiceIdPost.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AddVoiceResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/voices/add/{public_user_id}/{voice_id}",
        );
    }

    /**
     * Retrieves a list of shared voices.
     *
     * @param {ElevenLabs.VoicesGetSharedRequest} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.voices.getShared({
     *         pageSize: 1,
     *         category: "professional",
     *         gender: "gender",
     *         age: "age",
     *         accent: "accent",
     *         language: "language",
     *         locale: "locale",
     *         search: "search",
     *         featured: true,
     *         minNoticePeriodDays: 1,
     *         includeCustomRates: true,
     *         includeLiveModerated: true,
     *         readerAppEnabled: true,
     *         ownerId: "owner_id",
     *         sort: "sort",
     *         page: 1
     *     })
     */
    public getShared(
        request: ElevenLabs.VoicesGetSharedRequest = {},
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetLibraryVoicesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getShared(request, requestOptions));
    }

    private async __getShared(
        request: ElevenLabs.VoicesGetSharedRequest = {},
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetLibraryVoicesResponse>> {
        const {
            pageSize,
            category,
            gender,
            age,
            accent,
            language,
            locale,
            search,
            useCases,
            descriptives,
            featured,
            minNoticePeriodDays,
            includeCustomRates,
            includeLiveModerated,
            readerAppEnabled,
            ownerId,
            sort,
            page,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (pageSize != null) {
            _queryParams.page_size = pageSize.toString();
        }

        if (category != null) {
            _queryParams.category = serializers.VoicesGetSharedRequestCategory.jsonOrThrow(category, {
                unrecognizedObjectKeys: "strip",
            });
        }

        if (gender != null) {
            _queryParams.gender = gender;
        }

        if (age != null) {
            _queryParams.age = age;
        }

        if (accent != null) {
            _queryParams.accent = accent;
        }

        if (language != null) {
            _queryParams.language = language;
        }

        if (locale != null) {
            _queryParams.locale = locale;
        }

        if (search != null) {
            _queryParams.search = search;
        }

        if (useCases != null) {
            if (Array.isArray(useCases)) {
                _queryParams.use_cases = useCases.map((item) => item);
            } else {
                _queryParams.use_cases = useCases;
            }
        }

        if (descriptives != null) {
            if (Array.isArray(descriptives)) {
                _queryParams.descriptives = descriptives.map((item) => item);
            } else {
                _queryParams.descriptives = descriptives;
            }
        }

        if (featured != null) {
            _queryParams.featured = featured.toString();
        }

        if (minNoticePeriodDays != null) {
            _queryParams.min_notice_period_days = minNoticePeriodDays.toString();
        }

        if (includeCustomRates != null) {
            _queryParams.include_custom_rates = includeCustomRates.toString();
        }

        if (includeLiveModerated != null) {
            _queryParams.include_live_moderated = includeLiveModerated.toString();
        }

        if (readerAppEnabled != null) {
            _queryParams.reader_app_enabled = readerAppEnabled.toString();
        }

        if (ownerId != null) {
            _queryParams.owner_id = ownerId;
        }

        if (sort != null) {
            _queryParams.sort = sort;
        }

        if (page != null) {
            _queryParams.page = page.toString();
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/shared-voices",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetLibraryVoicesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/shared-voices");
    }

    /**
     * Returns a list of shared voices similar to the provided audio sample. If neither similarity_threshold nor top_k is provided, we will apply default values.
     *
     * @param {ElevenLabs.BodyGetSimilarLibraryVoicesV1SimilarVoicesPost} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.voices.findSimilarVoices({})
     */
    public findSimilarVoices(
        request: ElevenLabs.BodyGetSimilarLibraryVoicesV1SimilarVoicesPost,
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetLibraryVoicesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__findSimilarVoices(request, requestOptions));
    }

    private async __findSimilarVoices(
        request: ElevenLabs.BodyGetSimilarLibraryVoicesV1SimilarVoicesPost,
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetLibraryVoicesResponse>> {
        const _request = await core.newFormData();
        if (request.audioFile != null) {
            await _request.appendFile("audio_file", request.audioFile);
        }

        if (request.similarityThreshold != null) {
            _request.append("similarity_threshold", request.similarityThreshold.toString());
        }

        if (request.topK != null) {
            _request.append("top_k", request.topK.toString());
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey,
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/similar-voices",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetLibraryVoicesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/similar-voices");
    }
}
