// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../index";

export declare namespace TranscriptClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TranscriptClient {
    protected readonly _options: NormalizedClientOptions<TranscriptClient.Options>;

    constructor(options: TranscriptClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns transcript for the dub as an SRT or WEBVTT file.
     *
     * @param {string} dubbing_id - ID of the dubbing project.
     * @param {string} language_code - ISO-693 language code to retrieve the transcript for. Use 'source' to fetch the transcript of the original media.
     * @param {ElevenLabs.dubbing.TranscriptGetTranscriptForDubRequest} request
     * @param {TranscriptClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.ForbiddenError}
     * @throws {@link ElevenLabs.NotFoundError}
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link ElevenLabs.TooEarlyError}
     *
     * @example
     *     await client.dubbing.transcript.getTranscriptForDub("dubbing_id", "source", {
     *         formatType: "srt"
     *     })
     */
    public getTranscriptForDub(
        dubbing_id: string,
        language_code: string,
        request: ElevenLabs.dubbing.TranscriptGetTranscriptForDubRequest = {},
        requestOptions?: TranscriptClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.dubbing.TranscriptGetTranscriptForDubResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__getTranscriptForDub(dubbing_id, language_code, request, requestOptions),
        );
    }

    private async __getTranscriptForDub(
        dubbing_id: string,
        language_code: string,
        request: ElevenLabs.dubbing.TranscriptGetTranscriptForDubRequest = {},
        requestOptions?: TranscriptClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.dubbing.TranscriptGetTranscriptForDubResponse>> {
        const { formatType } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (formatType != null) {
            _queryParams.format_type = serializers.dubbing.TranscriptGetTranscriptForDubRequestFormatType.jsonOrThrow(
                formatType,
                { unrecognizedObjectKeys: "strip" },
            );
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/dubbing/${core.url.encodePathParam(dubbing_id)}/transcript/${core.url.encodePathParam(language_code)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.dubbing.TranscriptGetTranscriptForDubResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new ElevenLabs.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new ElevenLabs.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 425:
                    throw new ElevenLabs.TooEarlyError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/dubbing/{dubbing_id}/transcript/{language_code}",
        );
    }
}
