// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as ElevenLabs from "../../../index.js";
import { TextToSpeechSocket } from "./Socket.js";

export declare namespace TextToSpeechClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}

    export interface ConnectArgs {
        voiceId: string;
        authorization?: string;
        singleUseToken?: string;
        modelId?: string;
        languageCode?: string;
        enableLogging?: string;
        outputFormat?: string;
        inactivityTimeout?: string;
        syncAlignment?: string;
        autoMode?: string;
        applyTextNormalization?: string;
        seed?: string;
        enableSsmlParsing?: string;
        /** WebSocket subprotocols to use for the connection. */
        protocols?: string | string[];
        /** Additional query parameters to send with the websocket connect request. */
        queryParams?: Record<string, unknown>;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
        /** The timeout for establishing the WebSocket connection in seconds. */
        connectionTimeoutInSeconds?: number;
        /** A signal to abort the WebSocket connection. */
        abortSignal?: AbortSignal;
    }
}

export class TextToSpeechClient {
    protected readonly _options: NormalizedClientOptions<TextToSpeechClient.Options>;

    constructor(options: TextToSpeechClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Converts text into speech using a voice of your choice and returns audio.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     */
    public convert(
        voice_id: string,
        request: ElevenLabs.BodyTextToSpeechFull,
        requestOptions?: TextToSpeechClient.RequestOptions,
    ): core.HttpResponsePromise<ReadableStream<Uint8Array>> {
        return core.HttpResponsePromise.fromPromise(this.__convert(voice_id, request, requestOptions));
    }

    private async __convert(
        voice_id: string,
        request: ElevenLabs.BodyTextToSpeechFull,
        requestOptions?: TextToSpeechClient.RequestOptions,
    ): Promise<core.WithRawResponse<ReadableStream<Uint8Array>>> {
        const { enableLogging, optimizeStreamingLatency, outputFormat, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            enable_logging: enableLogging,
            optimize_streaming_latency: optimizeStreamingLatency,
            output_format:
                outputFormat != null
                    ? serializers.ConvertTextToSpeechRequestOutputFormat.jsonOrThrow(outputFormat, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream<Uint8Array>>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/text-to-speech/${core.url.encodePathParam(voice_id)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.BodyTextToSpeechFull.jsonOrThrow(_body, {
                    unrecognizedObjectKeys: "strip",
                    omitUndefined: true,
                }),
                requestOptions?.additionalBodyParameters,
            ),
            responseType: "streaming",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/text-to-speech/{voice_id}",
        );
    }

    /**
     * Generate speech from text with precise character-level timing information for audio-text synchronization.
     *
     * @param {string} voice_id - Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.
     * @param {ElevenLabs.BodyTextToSpeechFullWithTimestamps} request
     * @param {TextToSpeechClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.textToSpeech.convertWithTimestamps("21m00Tcm4TlvDq8ikWAM", {
     *         enableLogging: true,
     *         optimizeStreamingLatency: 1,
     *         outputFormat: "alaw_8000",
     *         text: "This is a test for the API of ElevenLabs."
     *     })
     */
    public convertWithTimestamps(
        voice_id: string,
        request: ElevenLabs.BodyTextToSpeechFullWithTimestamps,
        requestOptions?: TextToSpeechClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AudioWithTimestampsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__convertWithTimestamps(voice_id, request, requestOptions));
    }

    private async __convertWithTimestamps(
        voice_id: string,
        request: ElevenLabs.BodyTextToSpeechFullWithTimestamps,
        requestOptions?: TextToSpeechClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AudioWithTimestampsResponse>> {
        const { enableLogging, optimizeStreamingLatency, outputFormat, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            enable_logging: enableLogging,
            optimize_streaming_latency: optimizeStreamingLatency,
            output_format:
                outputFormat != null
                    ? serializers.ConvertWithTimestampsTextToSpeechRequestOutputFormat.jsonOrThrow(outputFormat, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/text-to-speech/${core.url.encodePathParam(voice_id)}/with-timestamps`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.BodyTextToSpeechFullWithTimestamps.jsonOrThrow(_body, {
                    unrecognizedObjectKeys: "strip",
                    omitUndefined: true,
                }),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AudioWithTimestampsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/text-to-speech/{voice_id}/with-timestamps",
        );
    }

    /**
     * Converts text into speech using a voice of your choice and returns audio as an audio stream.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     */
    public stream(
        voice_id: string,
        request: ElevenLabs.StreamTextToSpeechRequest,
        requestOptions?: TextToSpeechClient.RequestOptions,
    ): core.HttpResponsePromise<ReadableStream<Uint8Array>> {
        return core.HttpResponsePromise.fromPromise(this.__stream(voice_id, request, requestOptions));
    }

    private async __stream(
        voice_id: string,
        request: ElevenLabs.StreamTextToSpeechRequest,
        requestOptions?: TextToSpeechClient.RequestOptions,
    ): Promise<core.WithRawResponse<ReadableStream<Uint8Array>>> {
        const { enableLogging, optimizeStreamingLatency, outputFormat, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            enable_logging: enableLogging,
            optimize_streaming_latency: optimizeStreamingLatency,
            output_format:
                outputFormat != null
                    ? serializers.StreamTextToSpeechRequestOutputFormat.jsonOrThrow(outputFormat, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream<Uint8Array>>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/text-to-speech/${core.url.encodePathParam(voice_id)}/stream`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.StreamTextToSpeechRequest.jsonOrThrow(_body, {
                    unrecognizedObjectKeys: "strip",
                    omitUndefined: true,
                }),
                requestOptions?.additionalBodyParameters,
            ),
            responseType: "streaming",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/text-to-speech/{voice_id}/stream",
        );
    }

    /**
     * Converts text into speech using a voice of your choice and returns a stream of JSONs containing audio as a base64 encoded string together with information on when which character was spoken.
     */
    public streamWithTimestamps(
        voice_id: string,
        request: ElevenLabs.StreamTextToSpeechWithTimestampsRequest,
        requestOptions?: TextToSpeechClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<ElevenLabs.StreamingAudioChunkWithTimestampsResponse>> {
        return core.HttpResponsePromise.fromPromise(this.__streamWithTimestamps(voice_id, request, requestOptions));
    }

    private async __streamWithTimestamps(
        voice_id: string,
        request: ElevenLabs.StreamTextToSpeechWithTimestampsRequest,
        requestOptions?: TextToSpeechClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<ElevenLabs.StreamingAudioChunkWithTimestampsResponse>>> {
        const { enableLogging, optimizeStreamingLatency, outputFormat, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            enable_logging: enableLogging,
            optimize_streaming_latency: optimizeStreamingLatency,
            output_format:
                outputFormat != null
                    ? serializers.StreamWithTimestampsTextToSpeechRequestOutputFormat.jsonOrThrow(outputFormat, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/text-to-speech/${core.url.encodePathParam(voice_id)}/stream/with-timestamps`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.StreamTextToSpeechWithTimestampsRequest.jsonOrThrow(_body, {
                    unrecognizedObjectKeys: "strip",
                    omitUndefined: true,
                }),
                requestOptions?.additionalBodyParameters,
            ),
            responseType: "streaming",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: async (data) => {
                        return serializers.StreamingAudioChunkWithTimestampsResponse.parseOrThrow(data, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        });
                    },
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "json",
                        messageTerminator: "\n",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/text-to-speech/{voice_id}/stream/with-timestamps",
        );
    }

    public async multi_stream(args: TextToSpeechClient.ConnectArgs): Promise<TextToSpeechSocket> {
        const {
            voiceId,
            authorization,
            singleUseToken,
            modelId,
            languageCode,
            enableLogging,
            outputFormat,
            inactivityTimeout,
            syncAlignment,
            autoMode,
            applyTextNormalization,
            seed,
            enableSsmlParsing,
            protocols,
            queryParams,
            headers,
            debug,
            reconnectAttempts,
            connectionTimeoutInSeconds,
            abortSignal,
        } = args;
        const _queryParams: Record<string, unknown> = {
            authorization,
            single_use_token: singleUseToken,
            model_id: modelId,
            language_code: languageCode,
            enable_logging: enableLogging,
            output_format: outputFormat,
            inactivity_timeout: inactivityTimeout,
            sync_alignment: syncAlignment,
            auto_mode: autoMode,
            apply_text_normalization: applyTextNormalization,
            seed,
            enable_ssml_parsing: enableSsmlParsing,
        };
        const _headers: Record<string, unknown> = mergeHeaders(this._options?.headers, headers);
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `/v1/text-to-speech/${core.url.encodePathParam(voiceId)}/multi-stream-input`,
            ),
            protocols: protocols ?? [],
            queryParameters: { ..._queryParams, ...queryParams },
            headers: _headers,
            options: {
                debug: debug ?? false,
                maxRetries: reconnectAttempts ?? 30,
                connectionTimeout: connectionTimeoutInSeconds != null ? connectionTimeoutInSeconds * 1000 : undefined,
            },
            abortSignal: abortSignal,
        });
        return new TextToSpeechSocket({ socket });
    }
}
