// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../index";

export declare namespace UsersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UsersClient {
    protected readonly _options: NormalizedClientOptions<UsersClient.Options>;

    constructor(options: UsersClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Get distinct users from conversations with pagination.
     *
     * @param {ElevenLabs.conversationalAi.UsersListRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.users.list({
     *         agentId: "agent_id",
     *         callStartBeforeUnix: 1,
     *         callStartAfterUnix: 1,
     *         search: "search",
     *         pageSize: 1,
     *         cursor: "cursor"
     *     })
     */
    public list(
        request: ElevenLabs.conversationalAi.UsersListRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetConversationUsersPageResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ElevenLabs.conversationalAi.UsersListRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetConversationUsersPageResponseModel>> {
        const { agentId, callStartBeforeUnix, callStartAfterUnix, search, pageSize, cursor } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (agentId != null) {
            _queryParams.agent_id = agentId;
        }

        if (callStartBeforeUnix != null) {
            _queryParams.call_start_before_unix = callStartBeforeUnix.toString();
        }

        if (callStartAfterUnix != null) {
            _queryParams.call_start_after_unix = callStartAfterUnix.toString();
        }

        if (search != null) {
            _queryParams.search = search;
        }

        if (pageSize != null) {
            _queryParams.page_size = pageSize.toString();
        }

        if (cursor != null) {
            _queryParams.cursor = cursor;
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/users",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetConversationUsersPageResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/convai/users");
    }
}
