// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as serializers from "../../../../serialization/index";
import * as ElevenLabs from "../../../index";
import { AnalyticsClient } from "../resources/analytics/client/Client";
import { AuditLogsClient } from "../resources/auditLogs/client/Client";
import { AuthConnectionsClient } from "../resources/authConnections/client/Client";
import { GroupsClient } from "../resources/groups/client/Client";
import { InvitesClient } from "../resources/invites/client/Client";
import { MembersClient } from "../resources/members/client/Client";
import { ResourcesClient } from "../resources/resources/client/Client";
import { UsageClient } from "../resources/usage/client/Client";

export declare namespace WorkspaceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WorkspaceClient {
    protected readonly _options: NormalizedClientOptions<WorkspaceClient.Options>;
    protected _auditLogs: AuditLogsClient | undefined;
    protected _authConnections: AuthConnectionsClient | undefined;
    protected _groups: GroupsClient | undefined;
    protected _invites: InvitesClient | undefined;
    protected _members: MembersClient | undefined;
    protected _resources: ResourcesClient | undefined;
    protected _usage: UsageClient | undefined;
    protected _analytics: AnalyticsClient | undefined;

    constructor(options: WorkspaceClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public get auditLogs(): AuditLogsClient {
        return (this._auditLogs ??= new AuditLogsClient(this._options));
    }

    public get authConnections(): AuthConnectionsClient {
        return (this._authConnections ??= new AuthConnectionsClient(this._options));
    }

    public get groups(): GroupsClient {
        return (this._groups ??= new GroupsClient(this._options));
    }

    public get invites(): InvitesClient {
        return (this._invites ??= new InvitesClient(this._options));
    }

    public get members(): MembersClient {
        return (this._members ??= new MembersClient(this._options));
    }

    public get resources(): ResourcesClient {
        return (this._resources ??= new ResourcesClient(this._options));
    }

    public get usage(): UsageClient {
        return (this._usage ??= new UsageClient(this._options));
    }

    public get analytics(): AnalyticsClient {
        return (this._analytics ??= new AnalyticsClient(this._options));
    }

    /**
     * Set the workspace-wide Third-Party Disabling policy. When set, it forces, for every API key in the workspace, whether the holder of a key (potentially a third party who found it) may disable it via the self-disable endpoint or when it leaks publicly — overriding each key's own setting. Pass `true` to allow it for all keys, `false` to forbid it for all keys, or `null` to clear the override so per-key values and the plan default apply again. Workspace admins only; requires self-disable access.
     *
     * @param {ElevenLabs.BodySetWorkspaceThirdPartyDisablingPolicyV1WorkspacesApiKeysThirdPartyDisablingPost} request
     * @param {WorkspaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.workspace.setThirdPartyDisablingPolicy()
     */
    public setThirdPartyDisablingPolicy(
        request: ElevenLabs.BodySetWorkspaceThirdPartyDisablingPolicyV1WorkspacesApiKeysThirdPartyDisablingPost = {},
        requestOptions?: WorkspaceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__setThirdPartyDisablingPolicy(request, requestOptions));
    }

    private async __setThirdPartyDisablingPolicy(
        request: ElevenLabs.BodySetWorkspaceThirdPartyDisablingPolicyV1WorkspacesApiKeysThirdPartyDisablingPost = {},
        requestOptions?: WorkspaceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/workspaces/api-keys/third-party-disabling",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.BodySetWorkspaceThirdPartyDisablingPolicyV1WorkspacesApiKeysThirdPartyDisablingPost.jsonOrThrow(
                request,
                { unrecognizedObjectKeys: "strip" },
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workspaces/api-keys/third-party-disabling",
        );
    }
}
