// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as serializers from "../../../../../../../../serialization/index.js";
import * as ElevenLabs from "../../../../../../../index.js";

export declare namespace TopicsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TopicsClient {
    protected readonly _options: NormalizedClientOptions<TopicsClient.Options>;

    constructor(options: TopicsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns the latest topic discovery run results for a given agent.
     *
     * @param {string} agent_id - ID of the agent
     * @param {ElevenLabs.agents.conversations.GetTopicsRequest} request
     * @param {TopicsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.conversations.topics.get("agent_id", {
     *         fromUnixSecs: 1,
     *         toUnixSecs: 1
     *     })
     */
    public get(
        agent_id: string,
        request: ElevenLabs.agents.conversations.GetTopicsRequest = {},
        requestOptions?: TopicsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetAgentTopicsResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__get(agent_id, request, requestOptions));
    }

    private async __get(
        agent_id: string,
        request: ElevenLabs.agents.conversations.GetTopicsRequest = {},
        requestOptions?: TopicsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetAgentTopicsResponseModel>> {
        const { fromUnixSecs, toUnixSecs } = request;
        const _queryParams: Record<string, unknown> = {
            from_unix_secs: fromUnixSecs,
            to_unix_secs: toUnixSecs,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/topics`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetAgentTopicsResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/agents/{agent_id}/topics",
        );
    }
}
