// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../index";
import { ChaptersClient } from "../resources/chapters/client/Client";
import { ContentClient } from "../resources/content/client/Client";
import { PronunciationDictionariesClient } from "../resources/pronunciationDictionaries/client/Client";
import { SnapshotsClient } from "../resources/snapshots/client/Client";

export declare namespace ProjectsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProjectsClient {
    protected readonly _options: NormalizedClientOptions<ProjectsClient.Options>;
    protected _pronunciationDictionaries: PronunciationDictionariesClient | undefined;
    protected _content: ContentClient | undefined;
    protected _snapshots: SnapshotsClient | undefined;
    protected _chapters: ChaptersClient | undefined;

    constructor(options: ProjectsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public get pronunciationDictionaries(): PronunciationDictionariesClient {
        return (this._pronunciationDictionaries ??= new PronunciationDictionariesClient(this._options));
    }

    public get content(): ContentClient {
        return (this._content ??= new ContentClient(this._options));
    }

    public get snapshots(): SnapshotsClient {
        return (this._snapshots ??= new SnapshotsClient(this._options));
    }

    public get chapters(): ChaptersClient {
        return (this._chapters ??= new ChaptersClient(this._options));
    }

    /**
     * Returns a list of your Studio projects with metadata.
     *
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.studio.projects.list()
     */
    public list(
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetProjectsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetProjectsResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/studio/projects",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetProjectsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/studio/projects");
    }

    /**
     * Creates a new Studio project, it can be either initialized as blank, from a document or from a URL.
     *
     * @param {ElevenLabs.studio.BodyCreateStudioProjectV1StudioProjectsPost} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.studio.projects.create({
     *         name: "name"
     *     })
     */
    public create(
        request: ElevenLabs.studio.BodyCreateStudioProjectV1StudioProjectsPost,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.AddProjectResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: ElevenLabs.studio.BodyCreateStudioProjectV1StudioProjectsPost,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.AddProjectResponseModel>> {
        const _request = await core.newFormData();
        _request.append("name", request.name);
        if (request.defaultTitleVoiceId != null) {
            _request.append("default_title_voice_id", request.defaultTitleVoiceId);
        }

        if (request.defaultParagraphVoiceId != null) {
            _request.append("default_paragraph_voice_id", request.defaultParagraphVoiceId);
        }

        if (request.defaultModelId != null) {
            _request.append("default_model_id", request.defaultModelId);
        }

        if (request.fromUrl != null) {
            _request.append("from_url", request.fromUrl);
        }

        if (request.fromDocument != null) {
            await _request.appendFile("from_document", request.fromDocument);
        }

        if (request.fromContentJson != null) {
            _request.append("from_content_json", request.fromContentJson);
        }

        if (request.qualityPreset != null) {
            _request.append(
                "quality_preset",
                serializers.studio.ProjectsCreateRequestQualityPreset.jsonOrThrow(request.qualityPreset, {
                    unrecognizedObjectKeys: "strip",
                }),
            );
        }

        if (request.title != null) {
            _request.append("title", request.title);
        }

        if (request.author != null) {
            _request.append("author", request.author);
        }

        if (request.description != null) {
            _request.append("description", request.description);
        }

        if (request.genres != null) {
            for (const _item of request.genres) {
                _request.append("genres", _item);
            }
        }

        if (request.targetAudience != null) {
            _request.append(
                "target_audience",
                serializers.studio.ProjectsCreateRequestTargetAudience.jsonOrThrow(request.targetAudience, {
                    unrecognizedObjectKeys: "strip",
                }),
            );
        }

        if (request.language != null) {
            _request.append("language", request.language);
        }

        if (request.contentType != null) {
            _request.append("content_type", request.contentType);
        }

        if (request.originalPublicationDate != null) {
            _request.append("original_publication_date", request.originalPublicationDate);
        }

        if (request.matureContent != null) {
            _request.append("mature_content", request.matureContent.toString());
        }

        if (request.isbnNumber != null) {
            _request.append("isbn_number", request.isbnNumber);
        }

        if (request.acxVolumeNormalization != null) {
            _request.append("acx_volume_normalization", request.acxVolumeNormalization.toString());
        }

        if (request.volumeNormalization != null) {
            _request.append("volume_normalization", request.volumeNormalization.toString());
        }

        if (request.pronunciationDictionaryLocators != null) {
            for (const _item of request.pronunciationDictionaryLocators) {
                _request.append("pronunciation_dictionary_locators", _item);
            }
        }

        if (request.callbackUrl != null) {
            _request.append("callback_url", request.callbackUrl);
        }

        if (request.fiction != null) {
            _request.append(
                "fiction",
                serializers.studio.ProjectsCreateRequestFiction.jsonOrThrow(request.fiction, {
                    unrecognizedObjectKeys: "strip",
                }),
            );
        }

        if (request.applyTextNormalization != null) {
            _request.append(
                "apply_text_normalization",
                serializers.studio.ProjectsCreateRequestApplyTextNormalization.jsonOrThrow(
                    request.applyTextNormalization,
                    { unrecognizedObjectKeys: "strip" },
                ),
            );
        }

        if (request.autoConvert != null) {
            _request.append("auto_convert", request.autoConvert.toString());
        }

        if (request.autoAssignVoices != null) {
            _request.append("auto_assign_voices", request.autoAssignVoices.toString());
        }

        if (request.sourceType != null) {
            _request.append(
                "source_type",
                serializers.studio.ProjectsCreateRequestSourceType.jsonOrThrow(request.sourceType, {
                    unrecognizedObjectKeys: "strip",
                }),
            );
        }

        if (request.voiceSettings != null) {
            for (const _item of request.voiceSettings) {
                _request.append("voice_settings", _item);
            }
        }

        if (request.createPublishingRead != null) {
            _request.append("create_publishing_read", request.createPublishingRead.toString());
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey,
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/studio/projects",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AddProjectResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/studio/projects");
    }

    /**
     * Returns information about a specific Studio project. This endpoint returns more detailed information about a project than `GET /v1/studio`.
     *
     * @param {string} project_id - The ID of the project to be used. You can use the [List projects](/docs/api-reference/studio/get-projects) endpoint to list all the available projects.
     * @param {ElevenLabs.studio.ProjectsGetRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.studio.projects.get("21m00Tcm4TlvDq8ikWAM", {
     *         shareId: "share_id"
     *     })
     */
    public get(
        project_id: string,
        request: ElevenLabs.studio.ProjectsGetRequest = {},
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.ProjectExtendedResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(project_id, request, requestOptions));
    }

    private async __get(
        project_id: string,
        request: ElevenLabs.studio.ProjectsGetRequest = {},
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.ProjectExtendedResponse>> {
        const { shareId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (shareId != null) {
            _queryParams.share_id = shareId;
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/studio/projects/${core.url.encodePathParam(project_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ProjectExtendedResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/studio/projects/{project_id}",
        );
    }

    /**
     * Updates the specified Studio project by setting the values of the parameters passed.
     *
     * @param {string} project_id - The ID of the project to be used. You can use the [List projects](/docs/api-reference/studio/get-projects) endpoint to list all the available projects.
     * @param {ElevenLabs.studio.BodyUpdateStudioProjectV1StudioProjectsProjectIdPost} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.studio.projects.update("21m00Tcm4TlvDq8ikWAM", {
     *         name: "Project 1",
     *         defaultTitleVoiceId: "21m00Tcm4TlvDq8ikWAM",
     *         defaultParagraphVoiceId: "21m00Tcm4TlvDq8ikWAM"
     *     })
     */
    public update(
        project_id: string,
        request: ElevenLabs.studio.BodyUpdateStudioProjectV1StudioProjectsProjectIdPost,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.EditProjectResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__update(project_id, request, requestOptions));
    }

    private async __update(
        project_id: string,
        request: ElevenLabs.studio.BodyUpdateStudioProjectV1StudioProjectsProjectIdPost,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.EditProjectResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/studio/projects/${core.url.encodePathParam(project_id)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.studio.BodyUpdateStudioProjectV1StudioProjectsProjectIdPost.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.EditProjectResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/studio/projects/{project_id}",
        );
    }

    /**
     * Deletes a Studio project.
     *
     * @param {string} project_id - The ID of the project to be used. You can use the [List projects](/docs/api-reference/studio/get-projects) endpoint to list all the available projects.
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.studio.projects.delete("21m00Tcm4TlvDq8ikWAM")
     */
    public delete(
        project_id: string,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.DeleteProjectResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__delete(project_id, requestOptions));
    }

    private async __delete(
        project_id: string,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.DeleteProjectResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/studio/projects/${core.url.encodePathParam(project_id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DeleteProjectResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/studio/projects/{project_id}",
        );
    }

    /**
     * Starts conversion of a Studio project and all of its chapters.
     *
     * @param {string} project_id - The ID of the project to be used. You can use the [List projects](/docs/api-reference/studio/get-projects) endpoint to list all the available projects.
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.studio.projects.convert("21m00Tcm4TlvDq8ikWAM")
     */
    public convert(
        project_id: string,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.ConvertProjectResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__convert(project_id, requestOptions));
    }

    private async __convert(
        project_id: string,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.ConvertProjectResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/studio/projects/${core.url.encodePathParam(project_id)}/convert`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ConvertProjectResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/studio/projects/{project_id}/convert",
        );
    }
}
