// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../BaseClient";
import * as core from "../../../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers";
import * as environments from "../../../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../../../errors/index";
import * as serializers from "../../../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../../../index";

export declare namespace ItemsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ItemsClient {
    protected readonly _options: NormalizedClientOptions<ItemsClient.Options>;

    constructor(options: ItemsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Adds or updates an order item on an open order. Returns the item ID and the quoted price.
     *
     * @param {ElevenLabs.OrderId} order_id - The ID of the order.
     * @param {ElevenLabs.productions.orders.BodyUpsertOrderItemV1ProductionsOrdersOrderIdItemsPost} request
     * @param {ItemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.productions.orders.items.upsert("order_id", {
     *         request: {
     *             item: {
     *                 kind: "dub",
     *                 mediaId: "prodmedia_01jgatk6h0fwxrtbjade61yqhx",
     *                 sourceLanguage: "en",
     *                 destinationLanguages: ["hi", "fr-FR", "de"],
     *                 includeCaptions: true,
     *                 includeSourceCaptions: false,
     *                 instructions: "Voices don't need to match the originals, prioritize native-sounding voices",
     *                 captionsSdh: false
     *             }
     *         }
     *     })
     */
    public upsert(
        order_id: ElevenLabs.OrderId,
        request: ElevenLabs.productions.orders.BodyUpsertOrderItemV1ProductionsOrdersOrderIdItemsPost,
        requestOptions?: ItemsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.UpsertOrderItemResponse> {
        return core.HttpResponsePromise.fromPromise(this.__upsert(order_id, request, requestOptions));
    }

    private async __upsert(
        order_id: ElevenLabs.OrderId,
        request: ElevenLabs.productions.orders.BodyUpsertOrderItemV1ProductionsOrdersOrderIdItemsPost,
        requestOptions?: ItemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.UpsertOrderItemResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/productions/orders/${core.url.encodePathParam(serializers.OrderId.jsonOrThrow(order_id))}/items`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.productions.orders.BodyUpsertOrderItemV1ProductionsOrdersOrderIdItemsPost.jsonOrThrow(
                request,
                { unrecognizedObjectKeys: "strip" },
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.UpsertOrderItemResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/productions/orders/{order_id}/items",
        );
    }

    /**
     * Removes an order item from an open order.
     *
     * @param {ElevenLabs.OrderId} order_id - The ID of the order.
     * @param {ElevenLabs.ItemId} item_id - The ID of the order item.
     * @param {ItemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.productions.orders.items.remove("order_id", "item_id")
     */
    public remove(
        order_id: ElevenLabs.OrderId,
        item_id: ElevenLabs.ItemId,
        requestOptions?: ItemsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.RemoveOrderItemResponse> {
        return core.HttpResponsePromise.fromPromise(this.__remove(order_id, item_id, requestOptions));
    }

    private async __remove(
        order_id: ElevenLabs.OrderId,
        item_id: ElevenLabs.ItemId,
        requestOptions?: ItemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.RemoveOrderItemResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/productions/orders/${core.url.encodePathParam(serializers.OrderId.jsonOrThrow(order_id))}/items/${core.url.encodePathParam(serializers.ItemId.jsonOrThrow(item_id))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.RemoveOrderItemResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/productions/orders/{order_id}/items/{item_id}",
        );
    }
}
