// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../index";
import { AnalysisClient } from "../resources/analysis/client/Client";
import { AudioClient } from "../resources/audio/client/Client";
import { FeedbackClient } from "../resources/feedback/client/Client";
import { FilesClient } from "../resources/files/client/Client";
import { MessagesClient } from "../resources/messages/client/Client";
import { TagsClient } from "../resources/tags/client/Client";
import { TopicsClient } from "../resources/topics/client/Client";

export declare namespace ConversationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConversationsClient {
    protected readonly _options: NormalizedClientOptions<ConversationsClient.Options>;
    protected _audio: AudioClient | undefined;
    protected _feedback: FeedbackClient | undefined;
    protected _messages: MessagesClient | undefined;
    protected _tags: TagsClient | undefined;
    protected _files: FilesClient | undefined;
    protected _topics: TopicsClient | undefined;
    protected _analysis: AnalysisClient | undefined;

    constructor(options: ConversationsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public get audio(): AudioClient {
        return (this._audio ??= new AudioClient(this._options));
    }

    public get feedback(): FeedbackClient {
        return (this._feedback ??= new FeedbackClient(this._options));
    }

    public get messages(): MessagesClient {
        return (this._messages ??= new MessagesClient(this._options));
    }

    public get tags(): TagsClient {
        return (this._tags ??= new TagsClient(this._options));
    }

    public get files(): FilesClient {
        return (this._files ??= new FilesClient(this._options));
    }

    public get topics(): TopicsClient {
        return (this._topics ??= new TopicsClient(this._options));
    }

    public get analysis(): AnalysisClient {
        return (this._analysis ??= new AnalysisClient(this._options));
    }

    /**
     * Get a signed url to start a conversation with an agent with an agent that requires authorization
     *
     * @param {ElevenLabs.conversationalAi.ConversationsGetSignedUrlRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.conversations.getSignedUrl({
     *         agentId: "agent_3701k3ttaq12ewp8b7qv5rfyszkz",
     *         includeConversationId: true,
     *         branchId: "branch_id",
     *         environment: "environment"
     *     })
     */
    public getSignedUrl(
        request: ElevenLabs.conversationalAi.ConversationsGetSignedUrlRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.ConversationSignedUrlResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__getSignedUrl(request, requestOptions));
    }

    private async __getSignedUrl(
        request: ElevenLabs.conversationalAi.ConversationsGetSignedUrlRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.ConversationSignedUrlResponseModel>> {
        const { agentId, includeConversationId, branchId, environment } = request;
        const _queryParams: Record<string, unknown> = {
            agent_id: agentId,
            include_conversation_id: includeConversationId,
            branch_id: branchId,
            environment,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/conversation/get-signed-url",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ConversationSignedUrlResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/conversation/get-signed-url",
        );
    }

    /**
     * Get a WebRTC session token for real-time communication.
     *
     * @param {ElevenLabs.conversationalAi.ConversationsGetWebrtcTokenRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.conversations.getWebrtcToken({
     *         agentId: "agent_3701k3ttaq12ewp8b7qv5rfyszkz",
     *         participantName: "participant_name",
     *         branchId: "branch_id",
     *         environment: "environment"
     *     })
     */
    public getWebrtcToken(
        request: ElevenLabs.conversationalAi.ConversationsGetWebrtcTokenRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.TokenResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__getWebrtcToken(request, requestOptions));
    }

    private async __getWebrtcToken(
        request: ElevenLabs.conversationalAi.ConversationsGetWebrtcTokenRequest,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.TokenResponseModel>> {
        const { agentId, participantName, branchId, environment } = request;
        const _queryParams: Record<string, unknown> = {
            agent_id: agentId,
            participant_name: participantName,
            branch_id: branchId,
            environment,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/conversation/token",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.TokenResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/convai/conversation/token");
    }

    /**
     * Get all conversations of agents that user owns. With option to restrict to a specific agent.
     *
     * @param {ElevenLabs.conversationalAi.ConversationsListRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.conversations.list({
     *         cursor: "cursor",
     *         agentId: "agent_id",
     *         callSuccessful: "success",
     *         callStartBeforeUnix: 1,
     *         callStartAfterUnix: 1,
     *         callDurationMinSecs: 1,
     *         callDurationMaxSecs: 1,
     *         ratingMax: 1,
     *         ratingMin: 1,
     *         hasFeedbackComment: true,
     *         userId: "user_id",
     *         evaluationParams: ["evaluation_params"],
     *         dataCollectionParams: ["data_collection_params"],
     *         toolNames: ["tool_names"],
     *         toolNamesSuccessful: ["tool_names_successful"],
     *         toolNamesErrored: ["tool_names_errored"],
     *         mainLanguages: ["main_languages"],
     *         pageSize: 1,
     *         summaryMode: "exclude",
     *         search: "search",
     *         conversationInitiationSource: "unknown",
     *         textOnly: true,
     *         conversationProductType: "agents",
     *         branchId: "branch_id",
     *         topicIds: ["topic_ids"],
     *         excludeStatuses: ["initiated"],
     *         tagIds: ["tag_ids"],
     *         workflowNodeEnteredId: "workflow_node_entered_id",
     *         terminationReasons: ["termination_reasons"]
     *     })
     */
    public list(
        request: ElevenLabs.conversationalAi.ConversationsListRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetConversationsPageResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ElevenLabs.conversationalAi.ConversationsListRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetConversationsPageResponseModel>> {
        const {
            cursor,
            agentId,
            callSuccessful,
            callStartBeforeUnix,
            callStartAfterUnix,
            callDurationMinSecs,
            callDurationMaxSecs,
            ratingMax,
            ratingMin,
            hasFeedbackComment,
            userId,
            evaluationParams,
            dataCollectionParams,
            toolNames,
            toolNamesSuccessful,
            toolNamesErrored,
            mainLanguages,
            pageSize,
            summaryMode,
            search,
            conversationInitiationSource,
            textOnly,
            conversationProductType,
            branchId,
            topicIds,
            excludeStatuses,
            tagIds,
            workflowNodeEnteredId,
            terminationReasons,
        } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            agent_id: agentId,
            call_successful:
                callSuccessful != null
                    ? serializers.EvaluationSuccessResult.jsonOrThrow(callSuccessful, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            call_start_before_unix: callStartBeforeUnix,
            call_start_after_unix: callStartAfterUnix,
            call_duration_min_secs: callDurationMinSecs,
            call_duration_max_secs: callDurationMaxSecs,
            rating_max: ratingMax,
            rating_min: ratingMin,
            has_feedback_comment: hasFeedbackComment,
            user_id: userId,
            evaluation_params: evaluationParams,
            data_collection_params: dataCollectionParams,
            tool_names: toolNames,
            tool_names_successful: toolNamesSuccessful,
            tool_names_errored: toolNamesErrored,
            main_languages: mainLanguages,
            page_size: pageSize,
            summary_mode:
                summaryMode != null
                    ? serializers.conversationalAi.ConversationsListRequestSummaryMode.jsonOrThrow(summaryMode, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            search,
            conversation_initiation_source:
                conversationInitiationSource != null
                    ? serializers.ConversationInitiationSource.jsonOrThrow(conversationInitiationSource, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            text_only: textOnly,
            conversation_product_type:
                conversationProductType != null
                    ? serializers.ConversationProduct.jsonOrThrow(conversationProductType, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            branch_id: branchId,
            topic_ids: topicIds,
            exclude_statuses: Array.isArray(excludeStatuses)
                ? excludeStatuses.map((item) =>
                      serializers.conversationalAi.ConversationsListRequestExcludeStatusesItem.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                      }),
                  )
                : excludeStatuses != null
                  ? serializers.conversationalAi.ConversationsListRequestExcludeStatusesItem.jsonOrThrow(
                        excludeStatuses,
                        { unrecognizedObjectKeys: "strip" },
                    )
                  : undefined,
            tag_ids: tagIds,
            workflow_node_entered_id: workflowNodeEnteredId,
            termination_reasons: terminationReasons,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/conversations",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetConversationsPageResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/convai/conversations");
    }

    /**
     * Get the details of a particular conversation
     *
     * @param {string} conversation_id - The id of the conversation you're taking the action on.
     * @param {ElevenLabs.conversationalAi.ConversationsGetRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.conversations.get("123")
     */
    public get(
        conversation_id: string,
        request: ElevenLabs.conversationalAi.ConversationsGetRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetConversationResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__get(conversation_id, request, requestOptions));
    }

    private async __get(
        conversation_id: string,
        request: ElevenLabs.conversationalAi.ConversationsGetRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetConversationResponseModel>> {
        const { format } = request;
        const _queryParams: Record<string, unknown> = {
            format:
                format != null
                    ? serializers.conversationalAi.ConversationsGetRequestFormat.jsonOrThrow(format, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/conversations/${core.url.encodePathParam(conversation_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetConversationResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/conversations/{conversation_id}",
        );
    }

    /**
     * Delete a particular conversation
     *
     * @param {string} conversation_id - The id of the conversation you're taking the action on.
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.conversations.delete("21m00Tcm4TlvDq8ikWAM")
     */
    public delete(
        conversation_id: string,
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__delete(conversation_id, requestOptions));
    }

    private async __delete(
        conversation_id: string,
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/conversations/${core.url.encodePathParam(conversation_id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/convai/conversations/{conversation_id}",
        );
    }

    /**
     * Get SIP messages associated with a conversation's phone call
     *
     * @param {string} conversation_id - The id of the conversation you're taking the action on.
     * @param {ElevenLabs.conversationalAi.ConversationsGetSipMessagesRequest} request
     * @param {ConversationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.conversations.getSipMessages("21m00Tcm4TlvDq8ikWAM", {
     *         pageSize: 1,
     *         cursor: "cursor"
     *     })
     */
    public getSipMessages(
        conversation_id: string,
        request: ElevenLabs.conversationalAi.ConversationsGetSipMessagesRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetSipLogMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSipMessages(conversation_id, request, requestOptions));
    }

    private async __getSipMessages(
        conversation_id: string,
        request: ElevenLabs.conversationalAi.ConversationsGetSipMessagesRequest = {},
        requestOptions?: ConversationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetSipLogMessagesResponse>> {
        const { pageSize, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            page_size: pageSize,
            cursor,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/conversations/${core.url.encodePathParam(conversation_id)}/sip-messages`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetSipLogMessagesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/conversations/{conversation_id}/sip-messages",
        );
    }
}
