// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as ElevenLabs from "../../../../../index.js";
import { CrawlJobsClient } from "../resources/crawlJobs/client/Client.js";
import { DocumentClient } from "../resources/document/client/Client.js";
import { DocumentsClient } from "../resources/documents/client/Client.js";

export declare namespace KnowledgeBaseClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class KnowledgeBaseClient {
    protected readonly _options: NormalizedClientOptions<KnowledgeBaseClient.Options>;
    protected _documents: DocumentsClient | undefined;
    protected _crawlJobs: CrawlJobsClient | undefined;
    protected _document: DocumentClient | undefined;

    constructor(options: KnowledgeBaseClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public get documents(): DocumentsClient {
        return (this._documents ??= new DocumentsClient(this._options));
    }

    public get crawlJobs(): CrawlJobsClient {
        return (this._crawlJobs ??= new CrawlJobsClient(this._options));
    }

    public get document(): DocumentClient {
        return (this._document ??= new DocumentClient(this._options));
    }

    /**
     * Returns the number of pages in the agent's knowledge base.
     *
     * @param {string} agent_id
     * @param {KnowledgeBaseClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.knowledgeBase.size("agent_id")
     */
    public size(
        agent_id: string,
        requestOptions?: KnowledgeBaseClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetAgentKnowledgebaseSizeResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__size(agent_id, requestOptions));
    }

    private async __size(
        agent_id: string,
        requestOptions?: KnowledgeBaseClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetAgentKnowledgebaseSizeResponseModel>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agent/${core.url.encodePathParam(agent_id)}/knowledge-base/size`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetAgentKnowledgebaseSizeResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/agent/{agent_id}/knowledge-base/size",
        );
    }

    /**
     * Get a list of available knowledge base documents
     *
     * @param {ElevenLabs.agents.ListKnowledgeBaseRequest} request
     * @param {KnowledgeBaseClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.knowledgeBase.list({
     *         pageSize: 1,
     *         search: "search",
     *         showOnlyOwnedDocuments: true,
     *         createdByUserId: "created_by_user_id",
     *         types: ["file"],
     *         parentFolderId: "parent_folder_id",
     *         ancestorFolderId: "ancestor_folder_id",
     *         foldersFirst: true,
     *         sortDirection: "asc",
     *         sortBy: "name",
     *         cursor: "cursor"
     *     })
     */
    public list(
        request: ElevenLabs.agents.ListKnowledgeBaseRequest = {},
        requestOptions?: KnowledgeBaseClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetKnowledgeBaseListResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ElevenLabs.agents.ListKnowledgeBaseRequest = {},
        requestOptions?: KnowledgeBaseClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetKnowledgeBaseListResponseModel>> {
        const {
            pageSize,
            search,
            showOnlyOwnedDocuments,
            createdByUserId,
            types,
            parentFolderId,
            ancestorFolderId,
            foldersFirst,
            sortDirection,
            sortBy,
            cursor,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_size: pageSize,
            search,
            show_only_owned_documents: showOnlyOwnedDocuments,
            created_by_user_id: createdByUserId,
            types: Array.isArray(types)
                ? types.map((item) =>
                      serializers.KnowledgeBaseDocumentType.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      }),
                  )
                : types != null
                  ? serializers.KnowledgeBaseDocumentType.jsonOrThrow(types, {
                        unrecognizedObjectKeys: "strip",
                        omitUndefined: true,
                    })
                  : undefined,
            parent_folder_id: parentFolderId,
            ancestor_folder_id: ancestorFolderId,
            folders_first: foldersFirst,
            sort_direction:
                sortDirection != null
                    ? serializers.SortDirection.jsonOrThrow(sortDirection, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            sort_by:
                sortBy != null
                    ? serializers.KnowledgeBaseSortBy.jsonOrThrow(sortBy, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            cursor,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/knowledge-base",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetKnowledgeBaseListResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/convai/knowledge-base");
    }

    /**
     * Retrieves and/or creates RAG indexes for multiple knowledge base documents in a single request. Maximum 100 items per request.
     *
     * @param {ElevenLabs.agents.BodyComputeRagIndexesInBatchV1ConvaiKnowledgeBaseRagIndexPost} request
     * @param {KnowledgeBaseClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.knowledgeBase.getOrCreateRagIndexes({
     *         items: [{
     *                 documentId: "document_id",
     *                 createIfMissing: true,
     *                 model: "e5_mistral_7b_instruct"
     *             }]
     *     })
     */
    public getOrCreateRagIndexes(
        request: ElevenLabs.agents.BodyComputeRagIndexesInBatchV1ConvaiKnowledgeBaseRagIndexPost,
        requestOptions?: KnowledgeBaseClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, ElevenLabs.agents.GetOrCreateRagIndexesKnowledgeBaseResponseValue>> {
        return core.HttpResponsePromise.fromPromise(this.__getOrCreateRagIndexes(request, requestOptions));
    }

    private async __getOrCreateRagIndexes(
        request: ElevenLabs.agents.BodyComputeRagIndexesInBatchV1ConvaiKnowledgeBaseRagIndexPost,
        requestOptions?: KnowledgeBaseClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<Record<string, ElevenLabs.agents.GetOrCreateRagIndexesKnowledgeBaseResponseValue>>
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/knowledge-base/rag-index",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.agents.BodyComputeRagIndexesInBatchV1ConvaiKnowledgeBaseRagIndexPost.jsonOrThrow(request, {
                    unrecognizedObjectKeys: "strip",
                    omitUndefined: true,
                }),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.agents.knowledgeBase.getOrCreateRagIndexes.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/convai/knowledge-base/rag-index",
        );
    }

    /**
     * Fuzzy text search over knowledge base document content
     *
     * @param {ElevenLabs.agents.SearchKnowledgeBaseRequest} request
     * @param {KnowledgeBaseClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.knowledgeBase.search({
     *         query: "query",
     *         pageSize: 1,
     *         types: ["file"],
     *         cursor: "cursor"
     *     })
     */
    public search(
        request: ElevenLabs.agents.SearchKnowledgeBaseRequest,
        requestOptions?: KnowledgeBaseClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.KnowledgeBaseContentSearchResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: ElevenLabs.agents.SearchKnowledgeBaseRequest,
        requestOptions?: KnowledgeBaseClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.KnowledgeBaseContentSearchResponseModel>> {
        const { query, pageSize, types, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            query,
            page_size: pageSize,
            types: Array.isArray(types)
                ? types.map((item) =>
                      serializers.KnowledgeBaseDocumentType.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      }),
                  )
                : types != null
                  ? serializers.KnowledgeBaseDocumentType.jsonOrThrow(types, {
                        unrecognizedObjectKeys: "strip",
                        omitUndefined: true,
                    })
                  : undefined,
            cursor,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/knowledge-base/search",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.KnowledgeBaseContentSearchResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/knowledge-base/search",
        );
    }
}
