// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { TextToSpeechMultiContextSocket } from "./Socket.js";

export declare namespace TextToSpeechMultiContextClient {
    export type Options = BaseClientOptions;

    export interface ConnectArgs {
        voiceId: string;
        authorization?: string;
        singleUseToken?: string;
        modelId?: string;
        languageCode?: string;
        enableLogging?: string;
        outputFormat?: string;
        inactivityTimeout?: string;
        syncAlignment?: string;
        autoMode?: string;
        applyTextNormalization?: string;
        seed?: string;
        enableSsmlParsing?: string;
        /** WebSocket subprotocols to use for the connection. */
        protocols?: string | string[];
        /** Additional query parameters to send with the websocket connect request. */
        queryParams?: Record<string, unknown>;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
        /** The timeout for establishing the WebSocket connection in seconds. */
        connectionTimeoutInSeconds?: number;
        /** A signal to abort the WebSocket connection. */
        abortSignal?: AbortSignal;
    }
}

export class TextToSpeechMultiContextClient {
    protected readonly _options: NormalizedClientOptions<TextToSpeechMultiContextClient.Options>;

    constructor(options: TextToSpeechMultiContextClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public async realtime(args: TextToSpeechMultiContextClient.ConnectArgs): Promise<TextToSpeechMultiContextSocket> {
        const {
            voiceId,
            authorization,
            singleUseToken,
            modelId,
            languageCode,
            enableLogging,
            outputFormat,
            inactivityTimeout,
            syncAlignment,
            autoMode,
            applyTextNormalization,
            seed,
            enableSsmlParsing,
            protocols,
            queryParams,
            headers,
            debug,
            reconnectAttempts,
            connectionTimeoutInSeconds,
            abortSignal,
        } = args;
        const _queryParams: Record<string, unknown> = {
            authorization,
            single_use_token: singleUseToken,
            model_id: modelId,
            language_code: languageCode,
            enable_logging: enableLogging,
            output_format: outputFormat,
            inactivity_timeout: inactivityTimeout,
            sync_alignment: syncAlignment,
            auto_mode: autoMode,
            apply_text_normalization: applyTextNormalization,
            seed,
            enable_ssml_parsing: enableSsmlParsing,
        };
        const _headers: Record<string, unknown> = mergeHeaders(this._options?.headers, headers);
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `/v1/text-to-speech/${core.url.encodePathParam(voiceId)}/multi-stream-input`,
            ),
            protocols: protocols ?? [],
            queryParameters: { ..._queryParams, ...queryParams },
            headers: _headers,
            options: {
                debug: debug ?? false,
                maxRetries: reconnectAttempts ?? 30,
                connectionTimeout: connectionTimeoutInSeconds != null ? connectionTimeoutInSeconds * 1000 : undefined,
            },
            abortSignal: abortSignal,
        });
        return new TextToSpeechMultiContextSocket({ socket });
    }
}
