// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../index";
import { DocumentClient } from "../resources/document/client/Client";
import { DocumentsClient } from "../resources/documents/client/Client";

export declare namespace KnowledgeBaseClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class KnowledgeBaseClient {
    protected readonly _options: NormalizedClientOptions<KnowledgeBaseClient.Options>;
    protected _documents: DocumentsClient | undefined;
    protected _document: DocumentClient | undefined;

    constructor(options: KnowledgeBaseClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public get documents(): DocumentsClient {
        return (this._documents ??= new DocumentsClient(this._options));
    }

    public get document(): DocumentClient {
        return (this._document ??= new DocumentClient(this._options));
    }

    /**
     * Get a list of available knowledge base documents
     *
     * @param {ElevenLabs.conversationalAi.KnowledgeBaseListRequest} request
     * @param {KnowledgeBaseClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.knowledgeBase.list({
     *         pageSize: 1,
     *         search: "search",
     *         showOnlyOwnedDocuments: true,
     *         parentFolderId: "parent_folder_id",
     *         ancestorFolderId: "ancestor_folder_id",
     *         foldersFirst: true,
     *         sortDirection: "asc",
     *         sortBy: "name",
     *         useTypesense: true,
     *         cursor: "cursor"
     *     })
     */
    public list(
        request: ElevenLabs.conversationalAi.KnowledgeBaseListRequest = {},
        requestOptions?: KnowledgeBaseClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetKnowledgeBaseListResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ElevenLabs.conversationalAi.KnowledgeBaseListRequest = {},
        requestOptions?: KnowledgeBaseClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetKnowledgeBaseListResponseModel>> {
        const {
            pageSize,
            search,
            showOnlyOwnedDocuments,
            types,
            parentFolderId,
            ancestorFolderId,
            foldersFirst,
            sortDirection,
            sortBy,
            useTypesense,
            cursor,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (pageSize != null) {
            _queryParams.page_size = pageSize.toString();
        }

        if (search != null) {
            _queryParams.search = search;
        }

        if (showOnlyOwnedDocuments != null) {
            _queryParams.show_only_owned_documents = showOnlyOwnedDocuments.toString();
        }

        if (types != null) {
            if (Array.isArray(types)) {
                _queryParams.types = types.map((item) =>
                    serializers.KnowledgeBaseDocumentType.jsonOrThrow(item, { unrecognizedObjectKeys: "strip" }),
                );
            } else {
                _queryParams.types = serializers.KnowledgeBaseDocumentType.jsonOrThrow(types, {
                    unrecognizedObjectKeys: "strip",
                });
            }
        }

        if (parentFolderId != null) {
            _queryParams.parent_folder_id = parentFolderId;
        }

        if (ancestorFolderId != null) {
            _queryParams.ancestor_folder_id = ancestorFolderId;
        }

        if (foldersFirst != null) {
            _queryParams.folders_first = foldersFirst.toString();
        }

        if (sortDirection != null) {
            _queryParams.sort_direction = serializers.SortDirection.jsonOrThrow(sortDirection, {
                unrecognizedObjectKeys: "strip",
            });
        }

        if (sortBy != null) {
            _queryParams.sort_by = serializers.KnowledgeBaseSortBy.jsonOrThrow(sortBy, {
                unrecognizedObjectKeys: "strip",
            });
        }

        if (useTypesense != null) {
            _queryParams.use_typesense = useTypesense.toString();
        }

        if (cursor != null) {
            _queryParams.cursor = cursor;
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/knowledge-base",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetKnowledgeBaseListResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/convai/knowledge-base");
    }

    /**
     * Retrieves and/or creates RAG indexes for multiple knowledge base documents in a single request.
     *
     * @param {ElevenLabs.conversationalAi.BodyComputeRagIndexesInBatchV1ConvaiKnowledgeBaseRagIndexPost} request
     * @param {KnowledgeBaseClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.knowledgeBase.getOrCreateRagIndexes({
     *         items: [{
     *                 documentId: "document_id",
     *                 createIfMissing: true,
     *                 model: "e5_mistral_7b_instruct"
     *             }]
     *     })
     */
    public getOrCreateRagIndexes(
        request: ElevenLabs.conversationalAi.BodyComputeRagIndexesInBatchV1ConvaiKnowledgeBaseRagIndexPost,
        requestOptions?: KnowledgeBaseClient.RequestOptions,
    ): core.HttpResponsePromise<
        Record<string, ElevenLabs.conversationalAi.KnowledgeBaseGetOrCreateRagIndexesResponseValue>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getOrCreateRagIndexes(request, requestOptions));
    }

    private async __getOrCreateRagIndexes(
        request: ElevenLabs.conversationalAi.BodyComputeRagIndexesInBatchV1ConvaiKnowledgeBaseRagIndexPost,
        requestOptions?: KnowledgeBaseClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            Record<string, ElevenLabs.conversationalAi.KnowledgeBaseGetOrCreateRagIndexesResponseValue>
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/knowledge-base/rag-index",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.conversationalAi.BodyComputeRagIndexesInBatchV1ConvaiKnowledgeBaseRagIndexPost.jsonOrThrow(
                request,
                { unrecognizedObjectKeys: "strip" },
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.conversationalAi.knowledgeBase.getOrCreateRagIndexes.Response.parseOrThrow(
                    _response.body,
                    {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    },
                ),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/convai/knowledge-base/rag-index",
        );
    }
}
