// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { TextToDialogueMultiContextSocket } from "./Socket.js";

export declare namespace TextToDialogueMultiContextClient {
    export type Options = BaseClientOptions;

    export interface ConnectArgs {
        modelId?: string;
        outputFormat?: string;
        languageCode?: string;
        syncAlignment?: string;
        applyTextNormalization?: string;
        seed?: string;
        enableLogging?: string;
        /** WebSocket subprotocols to use for the connection. */
        protocols?: string | string[];
        /** Additional query parameters to send with the websocket connect request. */
        queryParams?: Record<string, unknown>;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
        /** The timeout for establishing the WebSocket connection in seconds. */
        connectionTimeoutInSeconds?: number;
        /** A signal to abort the WebSocket connection. */
        abortSignal?: AbortSignal;
    }
}

export class TextToDialogueMultiContextClient {
    protected readonly _options: NormalizedClientOptions<TextToDialogueMultiContextClient.Options>;

    constructor(options: TextToDialogueMultiContextClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public async realtime(
        args: TextToDialogueMultiContextClient.ConnectArgs = {},
    ): Promise<TextToDialogueMultiContextSocket> {
        const {
            modelId,
            outputFormat,
            languageCode,
            syncAlignment,
            applyTextNormalization,
            seed,
            enableLogging,
            protocols,
            queryParams,
            headers,
            debug,
            reconnectAttempts,
            connectionTimeoutInSeconds,
            abortSignal,
        } = args;
        const _queryParams: Record<string, unknown> = {
            model_id: modelId,
            output_format: outputFormat,
            language_code: languageCode,
            sync_alignment: syncAlignment,
            apply_text_normalization: applyTextNormalization,
            seed,
            enable_logging: enableLogging,
        };
        const _headers: Record<string, unknown> = mergeHeaders(this._options?.headers, headers);
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "/v1/text-to-dialogue/multi-stream-input",
            ),
            protocols: protocols ?? [],
            queryParameters: { ..._queryParams, ...queryParams },
            headers: _headers,
            options: {
                debug: debug ?? false,
                maxRetries: reconnectAttempts ?? 30,
                connectionTimeout: connectionTimeoutInSeconds != null ? connectionTimeoutInSeconds * 1000 : undefined,
            },
            abortSignal: abortSignal,
        });
        return new TextToDialogueMultiContextSocket({ socket });
    }
}
