// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as serializers from "../../../../../../../../serialization/index.js";
import * as ElevenLabs from "../../../../../../../index.js";

export declare namespace LiveCountClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LiveCountClient {
    protected readonly _options: NormalizedClientOptions<LiveCountClient.Options>;

    constructor(options: LiveCountClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Get the live count of the ongoing conversations.
     *
     * @param {ElevenLabs.agents.analytics.GetLiveCountRequest} request
     * @param {LiveCountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.analytics.liveCount.get({
     *         agentId: "agent_id"
     *     })
     */
    public get(
        request: ElevenLabs.agents.analytics.GetLiveCountRequest = {},
        requestOptions?: LiveCountClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetLiveCountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: ElevenLabs.agents.analytics.GetLiveCountRequest = {},
        requestOptions?: LiveCountClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetLiveCountResponse>> {
        const { agentId } = request;
        const _queryParams: Record<string, unknown> = {
            agent_id: agentId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/analytics/live-count",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetLiveCountResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/analytics/live-count",
        );
    }
}
