// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../../../BaseClient";
import * as core from "../../../../../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../../../core/headers";
import * as environments from "../../../../../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../../../../../errors/index";
import * as serializers from "../../../../../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../../../../../index";

export declare namespace MergeClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MergeClient {
    protected readonly _options: NormalizedClientOptions<MergeClient.Options>;

    constructor(options: MergeClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns the result of merging the source branch into the target branch without performing the merge. Useful for showing an accurate diff before confirming.
     *
     * @param {string} agent_id - The id of an agent. This is returned on agent creation.
     * @param {string} source_branch_id - Unique identifier for the source branch to merge from.
     * @param {ElevenLabs.conversationalAi.agents.branches.MergePreviewRequest} request
     * @param {MergeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.agents.branches.merge.preview("agent_3701k3ttaq12ewp8b7qv5rfyszkz", "agtbrch_8901k4t9z5defmb8vh3e9361y7nj", {
     *         targetBranchId: "agtbrch_8901k4t9z5defmb8vh3e9361y7nj",
     *         force: true
     *     })
     */
    public preview(
        agent_id: string,
        source_branch_id: string,
        request: ElevenLabs.conversationalAi.agents.branches.MergePreviewRequest,
        requestOptions?: MergeClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.MergePreviewResponseModel> {
        return core.HttpResponsePromise.fromPromise(
            this.__preview(agent_id, source_branch_id, request, requestOptions),
        );
    }

    private async __preview(
        agent_id: string,
        source_branch_id: string,
        request: ElevenLabs.conversationalAi.agents.branches.MergePreviewRequest,
        requestOptions?: MergeClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.MergePreviewResponseModel>> {
        const { targetBranchId, force } = request;
        const _queryParams: Record<string, unknown> = {
            target_branch_id: targetBranchId,
            force,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/agents/${core.url.encodePathParam(agent_id)}/branches/${core.url.encodePathParam(source_branch_id)}/merge-preview`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.MergePreviewResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/agents/{agent_id}/branches/{source_branch_id}/merge-preview",
        );
    }
}
