// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as ElevenLabs from "../../../../../index.js";

export declare namespace WhatsappClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WhatsappClient {
    protected readonly _options: NormalizedClientOptions<WhatsappClient.Options>;

    constructor(options: WhatsappClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Make an outbound call via WhatsApp
     *
     * @param {ElevenLabs.agents.BodyMakeAnOutboundCallViaWhatsAppV1ConvaiWhatsappOutboundCallPost} request
     * @param {WhatsappClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.whatsapp.outboundCall({
     *         whatsappPhoneNumberId: "whatsapp_phone_number_id",
     *         whatsappUserId: "whatsapp_user_id",
     *         whatsappCallPermissionRequestTemplateName: "whatsapp_call_permission_request_template_name",
     *         whatsappCallPermissionRequestTemplateLanguageCode: "whatsapp_call_permission_request_template_language_code",
     *         agentId: "agent_id"
     *     })
     */
    public outboundCall(
        request: ElevenLabs.agents.BodyMakeAnOutboundCallViaWhatsAppV1ConvaiWhatsappOutboundCallPost,
        requestOptions?: WhatsappClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.WhatsAppOutboundCallResponse> {
        return core.HttpResponsePromise.fromPromise(this.__outboundCall(request, requestOptions));
    }

    private async __outboundCall(
        request: ElevenLabs.agents.BodyMakeAnOutboundCallViaWhatsAppV1ConvaiWhatsappOutboundCallPost,
        requestOptions?: WhatsappClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.WhatsAppOutboundCallResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/whatsapp/outbound-call",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.agents.BodyMakeAnOutboundCallViaWhatsAppV1ConvaiWhatsappOutboundCallPost.jsonOrThrow(
                    request,
                    { unrecognizedObjectKeys: "strip", omitUndefined: true },
                ),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.WhatsAppOutboundCallResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/convai/whatsapp/outbound-call",
        );
    }

    /**
     * Send an outbound message via WhatsApp
     *
     * @param {ElevenLabs.agents.BodySendAnOutboundMessageViaWhatsAppV1ConvaiWhatsappOutboundMessagePost} request
     * @param {WhatsappClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     * @throws {@link errors.ElevenLabsError}
     * @throws {@link errors.ElevenLabsTimeoutError}
     *
     * @example
     *     await client.agents.whatsapp.outboundMessage({
     *         whatsappPhoneNumberId: "whatsapp_phone_number_id",
     *         whatsappUserId: "whatsapp_user_id",
     *         templateName: "template_name",
     *         templateLanguageCode: "template_language_code",
     *         templateParams: [{
     *                 type: "body",
     *                 parameters: [{
     *                         text: "text"
     *                     }]
     *             }],
     *         agentId: "agent_id"
     *     })
     */
    public outboundMessage(
        request: ElevenLabs.agents.BodySendAnOutboundMessageViaWhatsAppV1ConvaiWhatsappOutboundMessagePost,
        requestOptions?: WhatsappClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.WhatsAppOutboundMessageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__outboundMessage(request, requestOptions));
    }

    private async __outboundMessage(
        request: ElevenLabs.agents.BodySendAnOutboundMessageViaWhatsAppV1ConvaiWhatsappOutboundMessagePost,
        requestOptions?: WhatsappClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.WhatsAppOutboundMessageResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey ?? process.env?.ELEVENLABS_API_KEY,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                "v1/convai/whatsapp/outbound-message",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.agents.BodySendAnOutboundMessageViaWhatsAppV1ConvaiWhatsappOutboundMessagePost.jsonOrThrow(
                    request,
                    { unrecognizedObjectKeys: "strip", omitUndefined: true },
                ),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.WhatsAppOutboundMessageResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/convai/whatsapp/outbound-message",
        );
    }
}
