// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../BaseClient";
import * as core from "../../../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers";
import * as environments from "../../../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../../../errors/index";
import * as serializers from "../../../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../../../index";

export declare namespace ExecutionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ExecutionsClient {
    protected readonly _options: NormalizedClientOptions<ExecutionsClient.Options>;

    constructor(options: ExecutionsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Get paginated list of tool executions for a specific tool.
     *
     * @param {string} tool_id - ID of the requested tool.
     * @param {ElevenLabs.conversationalAi.tools.ExecutionsGetRequest} request
     * @param {ExecutionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.conversationalAi.tools.executions.get("tool_id", {
     *         cursor: "cursor",
     *         pageSize: 1,
     *         isError: true,
     *         agentId: "agent_id",
     *         branchId: "branch_id",
     *         startTime: 1.1,
     *         endTime: 1.1
     *     })
     */
    public get(
        tool_id: string,
        request: ElevenLabs.conversationalAi.tools.ExecutionsGetRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.GetToolExecutionsPageResponseModel> {
        return core.HttpResponsePromise.fromPromise(this.__get(tool_id, request, requestOptions));
    }

    private async __get(
        tool_id: string,
        request: ElevenLabs.conversationalAi.tools.ExecutionsGetRequest = {},
        requestOptions?: ExecutionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.GetToolExecutionsPageResponseModel>> {
        const { cursor, pageSize, isError, agentId, branchId, startTime, endTime } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (cursor != null) {
            _queryParams.cursor = cursor;
        }

        if (pageSize != null) {
            _queryParams.page_size = pageSize.toString();
        }

        if (isError != null) {
            _queryParams.is_error = isError.toString();
        }

        if (agentId != null) {
            _queryParams.agent_id = agentId;
        }

        if (branchId != null) {
            _queryParams.branch_id = branchId;
        }

        if (startTime != null) {
            _queryParams.start_time = startTime.toString();
        }

        if (endTime != null) {
            _queryParams.end_time = endTime.toString();
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/convai/tools/${core.url.encodePathParam(tool_id)}/executions`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetToolExecutionsPageResponseModel.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/convai/tools/{tool_id}/executions",
        );
    }
}
