// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../../../../../BaseClient";
import * as core from "../../../../../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../../../core/headers";
import * as environments from "../../../../../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../../../../../errors/index";
import * as serializers from "../../../../../../../../../../serialization/index";
import * as ElevenLabs from "../../../../../../../../../index";

export declare namespace TranscriptClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TranscriptClient {
    protected readonly _options: NormalizedClientOptions<TranscriptClient.Options>;

    constructor(options: TranscriptClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * A language target's transcript: source segments with their translations.
     *
     * @param {string} project_id - Identifier of the dubbing project.
     * @param {string} language_id - Identifier of the language target.
     * @param {TranscriptClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.dubbing.project.language.transcript.get("proj_1601kwkyxp0hfzvtmyxwqxx6mcy3", "lang_1001kwkyxp0je6ktn4knsfrasx5s")
     */
    public get(
        project_id: string,
        language_id: string,
        requestOptions?: TranscriptClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.DubbingTargetTranscriptResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(project_id, language_id, requestOptions));
    }

    private async __get(
        project_id: string,
        language_id: string,
        requestOptions?: TranscriptClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.DubbingTargetTranscriptResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/dubbing/project/${core.url.encodePathParam(project_id)}/language/${core.url.encodePathParam(language_id)}/transcript`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DubbingTargetTranscriptResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/dubbing/project/{project_id}/language/{language_id}/transcript",
        );
    }

    /**
     * Edit a segment's translation for a language target.
     *
     * @param {string} project_id - Identifier of the dubbing project.
     * @param {string} language_id - Identifier of the language target.
     * @param {string} segment_id - Identifier of the segment to edit.
     * @param {ElevenLabs.dubbing.project.language.DubbingTargetSegmentUpdateRequest} request
     * @param {TranscriptClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.dubbing.project.language.transcript.updateSegment("proj_1601kwkyxp0hfzvtmyxwqxx6mcy3", "lang_1001kwkyxp0je6ktn4knsfrasx5s", "0199a3f0-1c2d-7abc-8def-0123456789ab", {
     *         translation: "Bienvenido a nuestra \u00FAltima demostraci\u00F3n de producto."
     *     })
     */
    public updateSegment(
        project_id: string,
        language_id: string,
        segment_id: string,
        request: ElevenLabs.dubbing.project.language.DubbingTargetSegmentUpdateRequest = {},
        requestOptions?: TranscriptClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.DubbingTargetSegmentUpdateResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__updateSegment(project_id, language_id, segment_id, request, requestOptions),
        );
    }

    private async __updateSegment(
        project_id: string,
        language_id: string,
        segment_id: string,
        request: ElevenLabs.dubbing.project.language.DubbingTargetSegmentUpdateRequest = {},
        requestOptions?: TranscriptClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.DubbingTargetSegmentUpdateResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/dubbing/project/${core.url.encodePathParam(project_id)}/language/${core.url.encodePathParam(language_id)}/transcript/segment/${core.url.encodePathParam(segment_id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.dubbing.project.language.DubbingTargetSegmentUpdateRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DubbingTargetSegmentUpdateResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/dubbing/project/{project_id}/language/{language_id}/transcript/segment/{segment_id}",
        );
    }

    /**
     * Re-dub a target from its edited transcript (charged like a generation).
     *
     * @param {string} project_id - Identifier of the dubbing project.
     * @param {string} language_id - Identifier of the language target.
     * @param {TranscriptClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ElevenLabs.UnprocessableEntityError}
     *
     * @example
     *     await client.dubbing.project.language.transcript.regenerate("proj_1601kwkyxp0hfzvtmyxwqxx6mcy3", "lang_1001kwkyxp0je6ktn4knsfrasx5s")
     */
    public regenerate(
        project_id: string,
        language_id: string,
        requestOptions?: TranscriptClient.RequestOptions,
    ): core.HttpResponsePromise<ElevenLabs.DubbingLanguageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__regenerate(project_id, language_id, requestOptions));
    }

    private async __regenerate(
        project_id: string,
        language_id: string,
        requestOptions?: TranscriptClient.RequestOptions,
    ): Promise<core.WithRawResponse<ElevenLabs.DubbingLanguageResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "xi-api-key": requestOptions?.apiKey ?? this._options?.apiKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ElevenLabsEnvironment.Production,
                `v1/dubbing/project/${core.url.encodePathParam(project_id)}/language/${core.url.encodePathParam(language_id)}/transcript/regenerate`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 240) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DubbingLanguageResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ElevenLabs.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ElevenLabsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/dubbing/project/{project_id}/language/{language_id}/transcript/regenerate",
        );
    }
}
